@import "./global-style-variables.scss";
html * {
  font-family: "BCSans", "Noto Sans", Verdana, Arial, sans-serif, "primeicons";
  font-style: normal;
  line-height: 20px;
  letter-spacing: 0px;
}

.body-background {
  background: #f2f2f2;
}

.bold-text {
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.2px;
  color: $brand-blue;
}

.logo-main-text {
  color: #002c71;
  font-size: 24px;
  line-height: 25px;
  font-style: normal;
  font-weight: normal;
  user-select: none;
}

.logo-subtitle {
  color: #454f5b;
  font-size: 12px;
  font-weight: 400;
  user-select: none;
}

.full-page-container-size {
  max-width: 1200px;
}

.content-group {
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  border-radius: 8px;
}

/**
* Overwrite the default internal padding
* for PrimeVue components.
*/
.p-inputtext {
  padding: 0.375rem 0.75rem !important;
}
/**
* Overwrite the default margin
* for PrimeVue components.
*/
.p-md-4 {
  padding: 0.5rem !important;
}

/** Moving the dimension and position properties of status badge to common class **/
.status_badge {
  border-width: 1px;
  padding: 15px;
  border-style: solid;
  border-radius: 30px;
  position: static;
  font-weight: 700;
}

// active badge
.status-badge-active .v-badge__badge {
  @extend .status_badge;
  border-color: $badge-border-success;
}

// inactive badge
.status-badge-inactive .v-badge__badge {
  @extend .status_badge;
  border-color: $badge-border-inactive;
}

//active restriction badge
.status-badge-active-restriction .v-badge__badge {
  @extend .status_badge;
  border-color: $badge-border-warning;
}

//Defining the height of rounded filter button
.filter-button {
  max-height: 30px;
}

/** Style to align records per page with arrows in data table. **/
.p-paginator .p-dropdown .p-dropdown-label {
  margin-top: 8px;
}

/** UL element with no styles **/
ul.no-bullets {
  list-style-type: none;
  margin-bottom: 0.5rem;
}

.form-header-title {
  font-weight: $formio-header-wt;
  font-size: $font-header-medium;
  color: $brand-black-light;
  line-height: $line-height-header-md;
}

.form-header-sub-title {  
  font-weight: $formio-header-wt;
  color: $brand-black;
  line-height: $line-height-header-lg;
  font-size: $font-header-large;
}
