@import "./global-style-variables.scss";
html * {
  font-family: "BCSans", "Noto Sans", Verdana, Arial, sans-serif, "primeicons";
  font-style: $font-style-normal;
  line-height: 20px;
  letter-spacing: 0px;
}

.body-background {
  background: #f2f2f2;
}

.bold-text {
  font-style: $font-style-normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.2px;
  color: $brand-blue;
}

.logo-main-text {
  color: #002c71;
  font-size: 24px;
  line-height: 25px;
  font-style: $font-style-normal;
  font-weight: normal;
  user-select: none;
}

.logo-subtitle {
  color: #454f5b;
  font-size: 12px;
  font-weight: 400;
  user-select: none;
}

.full-page-container-size {
  max-width: 1200px;
}

.content-group {
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  border-radius: 8px;
}

/**
* Overwrite the default internal padding
* for PrimeVue components.
*/
.p-inputtext {
  padding: 0.375rem 0.75rem !important;
}
/**
* Overwrite the default margin
* for PrimeVue components.
*/
.p-md-4 {
  padding: 0.5rem !important;
}

/** Moving the dimension and position properties of status badge to common class **/
.status_badge {
  border-width: 1px;
  padding: 15px;
  border-style: solid;
  border-radius: 30px;
  position: static;
  font-weight: 700;
}

// success badge
.status-badge-success .v-badge__badge {
  @extend .status_badge;
  border-color: $badge-border-success;
}

// inactive badge
.status-badge-inactive .v-badge__badge {
  @extend .status_badge;
  border-color: $badge-border-inactive;
}

//warning badge
.status-badge-warning .v-badge__badge {
  @extend .status_badge;
  border-color: $badge-border-warning;
}

//error badge
.status-badge-error .v-badge__badge {
  @extend .status_badge;
  border-color: $badge-border-error;
}

//Defining the height of rounded filter button
.filter-button {
  max-height: 30px;
}

/** Style to align records per page with arrows in data table. **/
.p-paginator .p-dropdown .p-dropdown-label {
  margin-top: 8px;
}

/** UL element with no styles **/
ul.no-bullets {
  list-style-type: none;
  margin-bottom: 0.5rem;
}

/** muted heading **/
.muted-heading-text {
  font-style: $font-style-normal;
  font-weight: $font-weight-bold;
  font-size: $font-header-medium;
  line-height: $line-height-header-md;
  /* Black */
  color: $brand-black;
  opacity: 0.5;
  margin: 0px;
}

/** large heading **/
.heading-x-large {
  font-style: $font-style-normal;
  font-weight: $font-weight-bold;
  font-size: $font-header-xlarge;
  line-height: $line-height-header-xlg;
  /* identical to box height, or 106% */
  letter-spacing: -0.2px;
  /* Black */
  color: $brand-black;
  margin: 1px;
}

/** TODO: this style must be removed when moving to Vuetify3 **/
.p-tabview-panels {
  margin-top: 16px;
}

/** TODO: this style must be removed when moving to Vuetify3 **/
/**CSS to make primevue tab display like figma **/
.p-tabview-nav,
.p-tabview-nav-link,
.p-tabmenu-nav,
.p-menuitem-link {
  background: transparent !important;
}

.header-title {
  font-size: $font-header-medium;
  color: $brand-black-light;
  line-height: $line-height-header-md;
  font-weight: $font-weight-bold;
}

.header-sub-title {
  font-weight: $font-weight-bold;
  color: $brand-black;
  line-height: $line-height-header-xlg;
  font-size: $font-header-xlarge;
}

.header-button {
  bottom: 12px;
}

.label-bold {
  font-size: $font-size-content;
  line-height: $line-height-header-sm;
  font-weight: $font-weight-bold;
}

// normal label bold
.label-bold-normal {
  @extend .label-bold;
  color: $brand-black;
}

// normal label primary
.label-bold-primary {
  @extend .label-bold;
  color: $brand-blue !important;
}

.label-value {
  font-size: $font-size-content;
  line-height: $line-height-header-sm;
  font-weight: $font-style-normal;
}

// normal value bold
.label-value-normal {
  @extend .label-value;
  color: $brand-black;
}

// horizontal divider width
.horizontal-divider {
  border: 1px solid #e8e8e8;
}

.vertical-divider {
  border: 1px solid #8692a4;
  height: $line-height-header-sm;
  background-color: #8692a4;
}

.v-dialog .v-overlay__content {
  max-height: none !important;
  max-width: none !important;
}
