@import "./global-style-variables.scss";
html * {
  font-family: "BCSans", "Noto Sans", Verdana, Arial, sans-serif;
  font-style: $font-style-normal;
  line-height: 20px;
}
// todo: when all v-navigation-drawer is updated, remove this class.
.body-background {
  background: $default-background;
}

// Class for bold text.
// Any other class which requires the bold fonds can extend this class.
.font-bold {
  font-family: $font-bold;
  font-weight: $font-weight-bold;
}

strong {
  @extend .font-bold;
}

.bold-text {
  @extend .font-bold;
  font-style: $font-style-normal;
  line-height: 36px;
  letter-spacing: -0.2px;
  color: $brand-blue;
}

.logo-main-text {
  color: #002c71;
  font-size: 24px;
  line-height: 25px;
  font-style: $font-style-normal;
  font-weight: normal;
  user-select: none;
}

.logo-subtitle {
  color: #454f5b;
  font-size: 12px;
  font-weight: 400;
  user-select: none;
}

.full-page-container-size {
  max-width: 1200px;
}

.content-group {
  color: $app-content-color;
  border: 1px solid $common-border-color;
  box-sizing: border-box;
  border-radius: 8px;
}

/**
* Overwrite the default margin
* for PrimeVue components.
*/
.p-md-4 {
  padding: 0.5rem !important;
}

// Specific styles for the outlined v-chip.
.v-chip--variant-outlined {
  border: 2px solid !important;
  font-weight: 700 !important;
  background-color: $badge-background-color !important;
}

// Success v-chip.
.v-chip--variant-outlined.status-chip-success {
  border-color: $badge-border-success !important;
}

// Inactive v-chip.
.v-chip--variant-outlined.status-chip-inactive {
  border-color: $badge-border-inactive !important;
}

// Warning v-chip.
.v-chip--variant-outlined.status-chip-warning {
  border-color: $badge-border-warning !important;
}

// Error v-chip.
.v-chip--variant-outlined.status-chip-error {
  border-color: $badge-border-error !important;
}

/**
* Todo: when datatable is updated, remove this class.
* Style to align records per page with arrows in data table.
*/
.p-paginator .p-dropdown .p-dropdown-label {
  margin-top: 8px;
}

// Todo: when datatable is updated, remove this class.
.p-datatable.p-paginator-bottom {
  border-bottom: 0;
}

// Todo: when datatable is updated, remove this class.
.p-column-title {
  font-family: $font-bold;
  font-weight: $font-weight-bold; // Fallback
  color: $brand-grey;
}

/**
* Todo: when datatable is updated, remove this class.
* Reset initial styles.
*/
.p-paginator .p-dropdown.p-inputwrapper {
  height: auto;
}

/** muted heading **/
.muted-heading-text {
  font-style: $font-style-normal;
  font-family: $font-bold;
  font-weight: $font-weight-bold; // Fallback
  font-size: $font-header-medium;
  line-height: $line-height-header-md;
  /* Black */
  color: $brand-black;
  opacity: 0.5;
  margin: 0px;
}

/** large heading **/
.heading-x-large {
  font-style: $font-style-normal;
  font-family: $font-bold;
  font-weight: $font-weight-bold; //Fallback
  font-size: $font-header-xlarge;
  line-height: $line-height-header-xlg;
  /* identical to box height, or 106% */
  letter-spacing: -0.2px;
  /* Black */
  color: $brand-black;
  margin: 1px;
}

.header-title {
  font-size: $font-header-medium;
  color: $brand-black-light;
  line-height: $line-height-header-md;
  font-weight: $font-weight-bold;
}

.header-sub-title {
  font-family: $font-bold;
  font-weight: $font-weight-bold; // Fallback
  color: $brand-black;
  line-height: $line-height-header-xlg;
  font-size: $font-header-xlarge;
}

.header-button {
  bottom: 12px;
}

.label-bold {
  font-size: $font-size-content !important;
  line-height: $line-height-header-sm !important;
  font-weight: $font-weight-bold !important;
}

// normal label bold
.label-bold-normal {
  @extend .label-bold;
  color: $brand-black;
}

.label-bold-large-height {
  @extend .label-bold;
  line-height: $line-height-header-xlg !important;
}

// normal label primary
.label-bold-primary {
  @extend .label-bold;
  color: $brand-blue !important;
}

.link-primary {
  @extend .label-bold-primary;
  text-decoration: underline;
  cursor: pointer;
}

.label-value {
  font-size: $font-size-content;
  line-height: $line-height-header-sm;
  font-weight: $font-style-normal;
}

// Navigation bar labels.
.nav-item-label:not(.label-bold) {
  @extend .label-value;
}

// normal value bold
.label-value-normal {
  @extend .label-value;
  color: $brand-black;
}

// horizontal divider width
.horizontal-divider {
  border: 1px solid #e8e8e8;
}

//TODO: This style has been temporarily used to fix the alignment and responsiveness issue
//TODO: as an outcome of Vuetify beta upgrade.
.v-dialog .v-overlay__content {
  max-height: none !important;
  max-width: none !important;
}

.muted-content-strong {
  color: $color-muted;
  font-weight: $font-weight-bold;
}

.v-text-field-search-width {
  width: 305px;
}

.success-chip-background {
  background-color: $banner-background-success !important;
}

.warning-chip-background {
  background-color: $banner-background-warning !important;
}

// Active class for nav bar.
.navigation-btn .active-btn {
  color: $brand-blue !important;
  background-color: $color-white !important;
}

// Btn toggle groups for nav bar adjustment.
.navigation-btn.v-btn-group {
  min-width: fit-content;
}

// Active sidebar class to match with Figma.
.active-list-item.v-list-item--active > .v-list-item__overlay {
  opacity: 0 !important;
}

// Active sidebar class to match with Figma.
.active-list-item .v-list-item-title {
  @extend .label-bold;
}

// Sidebar class to match with Figma.
.sidebar-item .v-list-item-title {
  @extend .nav-item-label;
}

// v-list subtitle.
.no-wrap .v-list-subheader {
  font-size: $font-size-xsmall;
}

// This class will restrict the container with max-width.
.container-max-width {
  max-width: 730px !important;
}

// Btn font color white.
.btn-font-color-light .v-btn__content {
  color: $button-font-color;
}

.v-btn.danger-button {
  background-color: $banner-color-error !important;
  color: $color-white;
}

// Radio btn style to match with figma.
// Todo: horizontal direction is not working in vue 3.
// Todo : Test in stable version and remove.
.input-unset-display-opacity .v-input__control {
  display: block;
}
.input-unset-display-opacity .v-label {
  opacity: unset !important;
}
// Removing nowrap.
.input-unset-display-opacity .v-input__control label.v-label {
  white-space: normal;
}
// Removing nowrap.
.no-wrap .v-list-item-title {
  white-space: normal;
}

// Adjust v-list sub groups (children).
.no-wrap .v-list-group .v-list-group__items {
  margin-inline-start: 12px;
}

// Reduce v-list icon and title space.
.no-wrap .v-list-item__content,
.action-list .v-list-item__content {
  margin-inline-start: -20px;
}
.action-list .v-list-item__prepend > .v-icon {
  opacity: unset;
}

// Modal height. 102px is the min height of header and footer of the modal.
.modal-height {
  max-height: calc(100vh - 50px) !important;
}

// Min height for modal header.
.modal-height .v-card-title {
  min-height: 50px;
}

// Tracker slider thumb.
.stepper-progress-slider .v-slider-thumb__surface {
  border-radius: 6px;
}

// Remove the ripple and hover effect.
.stepper-progress-slider .v-slider-thumb__surface::before {
  background-color: unset;
}

// Remove the ripple and hover effect.
.stepper-progress-slider .v-ripple__container {
  display: none;
}

// Alert label color.
.application-tracker-alert .label {
  color: $brand-black;
}

.application-tracker-alert.v-alert.white .v-alert__underlay {
  background-color: $color-white;
}

.application-tracker-alert.v-alert:not(.white) .v-alert__underlay {
  opacity: unset;
  z-index: -1;
}

// UI/Borders.
.application-tracker-alert.v-alert {
  border: 1px solid $common-border-color;
  border-radius: 8px;
}

.v-table.bordered {
  border: 1px solid $common-border-color;
}

.content-group-info {
  background-color: $default-background;
  border: 2px solid $common-border-color !important;
}

// List style - apply to lists used in content
ul {
  margin-left: 20px;
  margin-bottom: 0;
  li {
    line-height: $formio-content-lh;
  }
}

// Typography styles
b,
strong {
  font-weight: $font-weight-bold;
}

// Added FontAwesome as fallback.
.fas:before {
  font-family: "FontAwesome", $font-bold !important;
}

// Tooltip main style
.tooltip-style {
  padding: 0.75em 1em;
  border-radius: 8px;
  font-size: $font-size-xsmall;
  font-weight: $font-weight-normal;
  color: #fff;
  background-color: rgba(51, 51, 51, 0.95);
}

.brand-gray-text {
  color: $brand-grey;
}

ul.no-bullets {
  list-style-type: none !important;
  margin: 0;
}
