@import "./global-style-variables.scss";
/** common style component */

.label-bold {
  font-size: $font-size-content;
  line-height: $line-height-header-sm;
  font-weight: $font-weight-bold;
}

// normal label bold
.label-bold-normal {
  @extend .label-bold;
  color: $brand-black;
}

// normal label primary
.label-bold-primary {
  @extend .label-bold;
  color: $brand-blue !important;
}

.label-value {
  font-size: $font-size-content;
  line-height: $line-height-header-sm;
  font-weight: $font-style-normal;
}

// normal value bold
.label-value-normal {
  @extend .label-value;
  color: $brand-black;
}

// horizontal divider width
.horizontal-divider {
  border: 1px solid #e8e8e8;
}

.vertical-divider {
  border: 1px solid #8692a4;
  height: $line-height-header-sm;
  background-color: #8692a4;
}
