@import "./global-style-variables.scss";
@import "./base.scss";

/** Primary theme color of the application**/
.primary-color {
  color: $brand-blue !important;
}

.secondary-btn-background {
  background: $secondary-header-color !important;
  color: $button-font-color !important;
}

.secondary-btn-background-lt {
  background: $secondary-header-color-lt !important;
  color: $button-font-color !important;
}

.primary-btn-background {
  background: $brand-blue !important;
  color: $button-font-color !important;
}

/**Secondary theme color of the application**/
.secondary-color {
  color: $secondary-header-color !important;
}

.secondary-color-light {
  color: $secondary-header-color-lt;
}

.ff-form-container .btn-primary {
  color: white !important;
}

/**Typography styles for small header**/
.category-header-small {
  height: 18px;
  font-style: $font-style-normal;
  font-weight: $formio-header-wt;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

/**Typography styles for medium small header**/
.category-header-medium-small {
  font-style: $font-style-normal;
  font-weight: $formio-header-wt;
  font-size: $font-header-small;
  line-height: $line-height-header-sm;
}

/**Typography styles for medium header**/
.category-header-medium {
  font-style: $font-style-normal;
  font-weight: $formio-header-wt;
  font-size: $font-header-medium;
  line-height: $line-height-header-md;
}

/**Typography styles for large header**/
.category-header-large {
  font-style: $font-style-normal;
  font-weight: $formio-header-wt;
  font-size: $font-header-large;
  line-height: $line-height-header-lg;
}

.label-medium {
  font-style: $font-style-normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}

.label-small {
  font-style: $font-style-normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
}

.ff-form-container .alert-success {
  display: none;
}

.btn-formio-primary-outlined {
  background: #ffffff;
  color: $brand-blue;
}

.panel-error .card-body {
  border: 2px solid $panel-error-color;
}

.panel-warning .card-body {
  border: 2px solid $panel-warning-color;
}

/**
* Adjust the alignment for the bullet list on
* the error summary displayed on the top 
* of the Form.IO forms.
*/
.ff-form-container [id^="error-list"] ul {
  padding-left: 20px;
}

.align-bullets ul {
  padding-left: 20px;
}

/**Todo: formio-component-content styles must be removed once content component is
 removed from all the forms  **/

.formio-component-content h2 strong {
  font-style: $font-style-normal;
  font-weight: $formio-header-wt;
  font-size: $font-header-large;
  line-height: $line-height-header-lg;
}

.formio-component-content h3 strong {
  font-style: $font-style-normal;
  font-weight: $formio-header-wt;
  font-size: $font-header-medium;
  line-height: $line-height-header-md;
}

.formio-component-content h4 strong {
  font-style: $font-style-normal;
  font-weight: $formio-header-wt;
  font-size: $font-header-small;
  line-height: $line-height-header-sm;
}

/** Forcing line height for category-header-large **/
.formio-component-htmlelement.category-header-large p {
  line-height: $line-height-header-lg;
}

/** Forcing line height for category-header-medium **/
.formio-component-htmlelement.category-header-medium p {
  line-height: $line-height-header-md;
}

/** Forcing line height for category-header-medium-small and small **/
.formio-component-htmlelement.category-header-medium-small p,
.formio-component-htmlelement.category-header-small p {
  line-height: $line-height-header-sm;
}

.formio-component .col-form-label {
  font-weight: $formio-header-wt;
}

.formio-component-htmlelement p,
.formio-component-htmlelement div,
.formio-component-htmlelement ul li,
.formio-component label,
.formio-component-content p {
  line-height: $formio-content-lh;
}
.formio-component,
.banner-alert strong,
.banner-info strong,
.banner-warning strong {
  color: $app-content-color;
}

.formio-component .primary-color p {
  color: $brand-blue;
}

.formio-component .fa {
  font-family: "FontAwesome", "BCSans", sans-serif;
  font-size: $formio-content;
  line-height: $formio-content-lh;
  font-weight: 400;
}

.formio-component-htmlelement.header-lg p,
.formio-component-htmlelement.header-lg div {
  line-height: $line-height-header-lg;
  margin-bottom: $formio-header-margin;
}

.formio-component-htmlelement.header-md p,
.formio-component-htmlelement.header-md div {
  line-height: $line-height-header-md;
  margin-bottom: $formio-header-margin;
}

.formio-component-htmlelement.header-sm p,
.formio-component-htmlelement.header-sm div {
  line-height: $line-height-header-sm;
  margin-bottom: $formio-header-margin;
}

.header-lg {
  color: $brand-blue;
  font-style: $font-style-normal;
  font-weight: $formio-header-wt;
  font-size: $font-header-large;
  line-height: $line-height-header-lg;
  margin-bottom: $formio-header-margin;
}

.header-md {
  color: $brand-blue;
  font-style: $font-style-normal;
  font-weight: $formio-header-wt;
  font-size: $font-header-medium;
  line-height: $line-height-header-md;
  margin-bottom: $formio-header-margin;
}

.header-sm {
  color: $brand-blue;
  font-style: $font-style-normal;
  font-weight: $formio-header-wt;
  font-size: $font-header-small;
  line-height: $line-height-header-sm;
  margin-bottom: $formio-header-margin;
}

.banner-alert p,
.banner-alert div {
  background: $banner-background-error;
  border: 2px solid $banner-color-error;
  box-sizing: border-box;
  border-radius: 8px;
}
.banner-warning p,
.banner-warning div {
  background: $banner-background-warning;
  border: 2px solid $banner-color-warning;
  box-sizing: border-box;
  border-radius: 8px;
}

.banner-info p,
.banner-info div {
  background: $banner-background-info;
  border: 2px solid $banner-color-info;
  box-sizing: border-box;
  border-radius: 8px;
}

/**
* When columns are displayed side by side and the labels
* are long enough the columns have different heights.
* This style, when applied to the columns component on Form.IO,
* will force the components to be  aligned to the bottom. 
*/
.align-column-content-bottom div {
  margin-top: auto !important;
}

/**
* TODO: This style has been added as v-dialog is not being responsive. 
* Once This bug is resolved in Vuetify3, this style can be removed.
*/
.min-width-modal {
  min-width: 500px;
}
/**
* TODO: This style has been added as v-dialog is not being responsive. 
* Once This bug is resolved in Vuetify3, this style can be removed.
*/
.restriction-modal {
  min-width: 600px;
}

.form-status-badge {
  border-width: 1px;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  border-radius: 30px;
  border-style: solid;
  text-transform: uppercase;
  font-size: 12px !important;
}

.status-active-restriction .form-status-badge {
  font-weight: 700;
  border-color: $badge-border-warning;
}

.status-active-restriction .fa-circle::before {
  color: #ff7a00;
}

.status-resolved-restriction .form-status-badge {
  font-weight: 700;
  border-color: $badge-border-success;
}

.status-resolved-restriction .fa-circle::before {
  color: #16c92e;
}

/* form.io status chip */
.formio-status-chip {
  border-width: 1px;
  padding-left: 15px;
  padding-right: 10px;
  position: absolute;
  border-radius: 30px;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px !important;
}

.formio-status-chip.fa-circle::before {
  margin-right: 6px !important;
}

/* Success status */
.formio-status-chip.success {
  border-color: $badge-border-success !important;
  color: $banner-color-success !important;
}
/* Warning status */
.formio-status-chip.warning {
  border-color: $badge-border-warning !important;
  color: $banner-color-warning !important;
}
/* Error status */
.formio-status-chip.error {
  border-color: $badge-border-error !important;
  color: $banner-color-error !important;
}
/* Inactive status */
.formio-status-chip.inactive {
  border-color: $badge-border-inactive !important;
  color: $brand-black !important;
}

.form-check-input {
  position: inherit;
}

.formio-status-chip {
  @extend .bold-text;
  font-size: 10px;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 3px 10px;
  position: absolute;
  height: 25px;
  left: 15px;
  top: 25px;
  color: $brand-black;
  border: 1px solid;
  box-sizing: border-box;
  border-radius: 100px;
}

.formio-status-chip-icon {
  /* Ellipse 24 */
  position: static;
  width: 10px;
  height: 10px;
  left: 10px;
  top: 5px;
  border-radius: 5px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 6px 0px 0px;
}

.success-status-chip {
  @extend .formio-status-chip;
  border-color: $banner-color-success;
}

.success-status-chip div {
  @extend .formio-status-chip-icon;
  background: $banner-color-success;
}

.warning-status-chip {
  @extend .formio-status-chip;
  border-color: $banner-color-warning;
}

.warning-status-chip div {
  @extend .formio-status-chip-icon;
  background: $banner-color-warning;
}

.error-status-chip {
  @extend .formio-status-chip;
  border-color: $banner-color-error;
}

.error-status-chip div {
  @extend .formio-status-chip-icon;
  background: $banner-color-error;
}
