/** SCSS Color variables **/
$primary-header-color: #0053a4;
$secondary-header-color: #485363;
$secondary-header-color-lt: #0053a4;
$fromio-header-color: #2965c5;
$formio-content-color: #333a47;
$panel-warning-color: #f3b229;
$panel-error-color: #dc2525;

/** SCSS Font Size variables **/
$font-header-big: 27px;
$font-header-medium: 20px;
$font-header-small: 17px;
$formio-content: 16px;
$formio-content-lh: 24px;
$formio-header-lh-lg: 34px;
$formio-header-lh-md: 27px;
$formio-header-lh-sm: 18px;

.primary-color {
  color: $primary-header-color;
}

.secondary-color {
  color: $secondary-header-color;
}

.secondary-color-light {
  color: $secondary-header-color-lt;
}

.category-header-small {
  height: 18px;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.category-header-medium {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
}

.category-header-large {
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 34px;
}

.label-medium {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}

.label-small {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
}

.ff-form-container .alert-success {
  display: none;
}

.btn-formio-primary-outlined {
  background: #ffffff;
  color: #2965c5;
}

.panel-error .card-body {
  border: 2px solid $panel-error-color;
}

.panel-warning .card-body {
  border: 2px solid $panel-warning-color;
}

.align-bullets ul {
  padding-left: 20px;
}

.formio-component-content h2 strong,
.formio-component-htmlelement h2 {
  font-style: normal;
  font-weight: 700;
  font-size: $font-header-big;
  line-height: $formio-header-lh-lg;
}

.formio-component-content h3 strong,
.formio-component-htmlelement h3 {
  font-style: normal;
  font-weight: 700;
  font-size: $font-header-medium;
  line-height: $formio-header-lh-md;
}

.formio-component-content h4 strong,
.formio-component-htmlelement h4 {
  font-style: normal;
  font-weight: 700;
  font-size: $font-header-small;
  line-height: $formio-header-lh-sm;
}

.formio-component-htmlelement p,
.formio-component-htmlelement ul li,
.formio-component label,
.formio-component-content p {
  color: $formio-content-color;
  line-height: $formio-content-lh;
}

.formio-component .primary-color p {
  color: $fromio-header-color;
}

.fa {
  font-family: "FontAwesome", "BCSans";
  font-size: $formio-content;
  line-height: $formio-content-lh;
  font-weight: 400;
}
