@import "./global-style-variables.scss";
@import "./base.scss";

/** Primary theme color of the application**/
.primary-color {
  color: $brand-blue !important;
}

.secondary-btn-background {
  background: $secondary-header-color !important;
  color: $button-font-color !important;
}

.secondary-btn-background-lt {
  background: $secondary-header-color-lt !important;
  color: $button-font-color !important;
}

/**Secondary theme color of the application**/
.secondary-color {
  color: $secondary-header-color !important;
}

.secondary-color-light {
  color: $secondary-header-color-lt !important;
}

.ff-form-container .btn-primary {
  color: white !important;
  background: $brand-blue !important;
}

/**Typography styles for small header**/
.category-header-small {
  height: 18px;
  font-style: $font-style-normal;
  font-family: $font-bold;
  font-weight: $font-weight-bold; // Fallback
  font-size: $font-size-xsmall;
  line-height: 18px;
}

.category-header-small-no-transform {
  @extend .category-header-small;
  text-transform: none;
}

/**Typography styles for medium small header**/
.category-header-medium-small {
  font-style: $font-style-normal;
  font-family: $font-bold;
  font-weight: $font-weight-bold; // Fallback
  font-size: $font-header-small;
  line-height: $line-height-header-sm;
}

/**Typography styles for medium header**/
.category-header-medium {
  font-style: $font-style-normal;
  font-family: $font-bold;
  font-weight: $font-weight-bold; // Fallback
  font-size: $font-header-medium;
  line-height: $line-height-header-md;
}

/**Typography styles for large header**/
.category-header-large {
  font-style: $font-style-normal;
  font-family: $font-bold;
  font-weight: $font-weight-bold; // Fallback
  font-size: $font-header-large;
  line-height: $line-height-header-lg;
}

/**
*  Inline header to avoid mandatory sign (asterisk)
*  to be just after the header and not break the line.
*/
.inline-header {
  display: inline;
}

/**Typography styles for small header**/
.text-small {
  font-style: $font-style-normal;
  font-size: $font-header-small;
  line-height: $line-height-header-sm;
}

/**Typography styles for small header**/
.header-text-small {
  @extend .text-small;
  font-family: $font-bold;
  font-weight: $font-weight-bold; // Fallback
}

.value-text-small {
  @extend .text-small;
  font-weight: $font-weight-normal;
}

.category-header-x-large {
  font-style: $font-style-normal;
  font-family: $font-bold;
  font-weight: $font-weight-bold; // Fallback
  font-size: $font-header-xlarge;
  line-height: $line-height-header-lg;
}

.label-medium {
  font-style: $font-style-normal;
  font-weight: $font-weight-bold;
  font-size: $font-size-xsmall;
  line-height: 18px;
}

.label-small-bold {
  font-style: $font-style-normal;
  font-weight: $font-weight-bold;
  font-size: 12px;
  line-height: 18px;
}

/**Typography styles for extra small header**/
.extra-small {
  font-style: $font-style-normal;
  font-size: $font-size-xsmall;
  line-height: $line-height-header-xsm;
}

.header-extra-small {
  @extend .extra-small;
  font-weight: $font-weight-bold;
}

.value-extra-small {
  @extend .extra-small;
  font-weight: $font-weight-normal;
}

.ff-form-container .alert-success {
  display: none;
}

.btn-formio-primary-outlined {
  background: #ffffff !important;
  color: $brand-blue !important;
}

.panel-error .card-body {
  border: 2px solid $panel-error-color;
}

.panel-warning .card-body {
  border: 2px solid $panel-warning-color;
}

/**
* Adjust the alignment for the bullet list on
* the error summary displayed on the top
* of the Form.IO forms.
*/
.ff-form-container [id^="error-list"] ul {
  padding-left: 20px;
}

.align-bullets ul,
.align-bullets ol {
  padding-left: 20px;
}

.align-bullets ul li,
.align-bullets ol li {
  line-height: $line-height-header-md !important;
}

/**Todo: formio-component-content styles must be removed once content component is
 removed from all the forms  **/

.formio-component-content h2 strong {
  font-style: $font-style-normal;
  font-family: $font-bold;
  font-size: $font-header-large;
  line-height: $line-height-header-lg;
}

.formio-component-content h3 strong {
  font-style: $font-style-normal;
  font-family: $font-bold;
  font-size: $font-header-medium;
  line-height: $line-height-header-md;
}

.formio-component-content h4 strong {
  font-style: $font-style-normal;
  font-family: $font-bold;
  font-size: $font-header-small;
  line-height: $line-height-header-sm;
}

/** Forcing line height for category-header-large **/
.formio-component-htmlelement.category-header-large p {
  line-height: $line-height-header-lg;
}

/** Forcing line height for category-header-medium **/
.formio-component-htmlelement.category-header-medium p {
  line-height: $line-height-header-md;
}

/** Forcing line height for category-header-medium-small and small **/
.formio-component-htmlelement.category-header-medium-small p,
.formio-component-htmlelement.category-header-small p {
  line-height: $line-height-header-sm;
}

.formio-component .col-form-label {
  font-weight: $font-weight-bold;
}

.formio-component-htmlelement p,
.formio-component-htmlelement div,
.formio-component-htmlelement ul li,
.formio-component label,
.formio-component-content p {
  line-height: $formio-content-lh;
}
.formio-component,
.banner-alert strong,
.banner-info strong,
.banner-warning strong {
  color: $app-content-color;
}

.formio-component .primary-color p {
  color: $brand-blue;
}

/**
* This to apply the font awesome as font family to the first child only
* so that captions doesn't follow the font-awesome font-family.
**/
.formio-component .fa::before {
  font-family: "FontAwesome", "BCSans", sans-serif;
}

.formio-component .fa {
  font-family: "BCSans", sans-serif;
  line-height: $formio-content-lh;
  font-weight: $font-weight-normal;
}

.formio-component-htmlelement.header-lg p,
.formio-component-htmlelement.header-lg div {
  line-height: $line-height-header-lg;
  margin-bottom: $formio-header-margin;
}

.formio-component-htmlelement.header-md p,
.formio-component-htmlelement.header-md div {
  line-height: $line-height-header-md;
  margin-bottom: $formio-header-margin;
}

.formio-component-htmlelement.header-sm p,
.formio-component-htmlelement.header-sm div {
  line-height: $line-height-header-sm;
  margin-bottom: $formio-header-margin;
}

.header-lg {
  color: $brand-blue;
  font-style: $font-style-normal;
  font-family: $font-bold;
  font-size: $font-header-large;
  line-height: $line-height-header-lg;
  margin-bottom: $formio-header-margin;
}

.header-md {
  color: $brand-blue;
  font-style: $font-style-normal;
  font-family: $font-bold;
  font-size: $font-header-medium;
  line-height: $line-height-header-md;
  margin-bottom: $formio-header-margin;
}

.header-sm {
  color: $brand-blue;
  font-style: $font-style-normal;
  font-family: $font-bold;
  font-size: $font-header-small;
  line-height: $line-height-header-sm;
  margin-bottom: $formio-header-margin;
}

.banner-font {
  color: $brand-black;
  font-size: $font-size-content;
  line-height: $font-content-lh;
}

.banner-alert p,
.banner-alert div {
  @extend .banner-font;
  background: $banner-background-error;
  border: 2px solid $banner-color-error;
  box-sizing: border-box;
  border-radius: 8px;
}
.banner-warning p,
.banner-warning div {
  @extend .banner-font;
  background: $banner-background-warning;
  border: 2px solid $banner-color-warning;
  box-sizing: border-box;
  border-radius: 8px;
}

.banner-info p,
.banner-info div {
  @extend .banner-font;
  background: $banner-background-info;
  border: 2px solid $banner-color-info;
  box-sizing: border-box;
  border-radius: 8px;
}

/**
* When columns are displayed side by side and the labels
* are long enough the columns have different heights.
* This style, when applied to the columns component on Form.IO,
* will force the components to be  aligned to the bottom.
*/
.align-column-content-bottom div {
  margin-top: auto !important;
}

/**
* TODO: This style has been added as v-dialog is not being responsive.
* Once This bug is resolved in Vuetify3, this style can be removed.
*/
.min-width-modal {
  min-width: 500px;
}
/**
* TODO: This style has been added as v-dialog is not being responsive.
* Once This bug is resolved in Vuetify3, this style can be removed.
*/
.temporary-modal {
  min-width: 600px;
  max-height: 700px;
  overflow: auto;
}

/**
* This style is exclusively for locations grid in
* approve designation modal.
*/
.locations-grid .table td,
.locations-grid .table-bordered {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  border: none;
}

.form-status-badge {
  border-width: 1px;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  border-radius: 30px;
  border-style: solid;
  text-transform: uppercase;
  font-size: 12px !important;
}

.status-active-restriction .form-status-badge {
  font-weight: $font-weight-bold;
  border-color: $badge-border-warning;
}

.status-active-restriction .fa-circle::before {
  color: #ff7a00;
}

.formio-success-status .form-status-badge {
  font-weight: $font-weight-bold;
  border-color: $badge-border-success;
  text-transform: none;
}

.formio-success-status .fa-circle::before {
  color: #16c92e;
}

.banner-warning .fa-exclamation-triangle:before {
  color: $banner-color-warning;
}

.banner-warning .fa-info-circle:before {
  color: $banner-color-warning;
}

.banner-info .fa-info-circle:before {
  color: $banner-color-info;
}

.banner-alert .fa-ban:before {
  color: $banner-color-error;
}

/* form.io status chip */
.formio-status-chip {
  border-width: 1px;
  padding-left: 15px;
  padding-right: 10px;
  position: absolute;
  border-radius: 30px;
  border-style: solid;
  font-weight: 700 !important;
  font-size: 12px !important;
  color: $brand-black;
}
.formio-status-chip.fa-circle::before {
  margin-right: 6px;
}
/* Success status */
.formio-status-chip.success {
  border-color: $badge-border-success;
}
.formio-status-chip.success.fa-circle::before {
  color: $banner-color-success;
}
/* Warning status */
.formio-status-chip.warning {
  border-color: $badge-border-warning;
}
.formio-status-chip.warning.fa-circle::before {
  color: $banner-color-warning;
}
/* Error status */
.formio-status-chip.error {
  border-color: $badge-border-error;
}
.formio-status-chip.error.fa-circle::before {
  color: $banner-color-error;
}
/* Inactive status */
.formio-status-chip.inactive {
  border-color: $badge-border-inactive;
}
.formio-status-chip.inactive.fa-circle::before {
  color: $brand-black;
}

.form-check-input {
  position: inherit;
}

.img-background {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0% 50%;
  width: 100%;
  height: 100%;
}

.man-with-earth {
  @extend .img-background;
  background-image: url("../images/man-with-earth.svg");
  min-height: $image-min-height;
  background-position: center;
}

.girl-on-book {
  @extend .img-background;
  background-image: url("../images/girl-on-book.svg");
  min-height: $image-min-height;
  background-position: center;
}

.webinar {
  @extend .img-background;
  background-image: url("../images/webinar.svg");
  min-height: $image-min-height;
  background-position: center;
}

.refer-a-friend {
  @extend .img-background;
  background-image: url("../images/refer-a-friend.svg");
  min-height: $image-min-height;
}

.img-welcome-background {
  @extend .img-background;
  background-image: url("../images/image_institution_welcome.svg");
  min-height: $image-min-height;
}

.img-active-support-background {
  @extend .img-background;
  background-image: url("../images/image_active_support.svg");
  min-height: 150px;
}

.img-student-welcome-background {
  @extend .img-background;
  background-image: url("../images/image_student_welcome.svg");
  min-height: $image-min-height;
}

.person-adding-file-to-folder-background {
  @extend .img-background;
  background-image: url("../images/person-adding-file-to-folder.svg");
  min-height: $image-min-height;
}

.student-with-clipboard-img {
  @extend .img-background;
  background-image: url("../../assets/images/person-with-clipboard.svg");
  min-height: 350px;
  background-position: 50%;
}

.muted-content {
  color: $color-muted;
}

.ff-form-container .btn-formio-primary-outlined .btn-primary {
  @extend .btn-formio-primary-outlined;
  border: 1px solid $brand-blue !important;
  box-sizing: border-box;
  border-radius: 5px;
}

.ff-form-container .formio-panel-bg-secondary .card-body {
  background-color: $default-background;
}
// CSS to override data grid table style.
.ff-form-container .formio-datagrid-unset .table-bordered td,
.ff-form-container .formio-datagrid-unset .table-bordered th,
.ff-form-container .formio-datagrid-unset .table thead th,
.ff-form-container .formio-datagrid-unset .table-bordered {
  border: none;
}

.ff-form-container .formio-datagrid-unset table thead {
  display: none;
}
.ff-form-container .formio-datagrid-unset .table td,
.ff-form-container .formio-datagrid-unset .table th {
  padding: 0;
}

// CSS for panel component border to match Figma.
.formio-component-panel .border {
  border: 1px solid $common-border-color !important;
  border-radius: 8px !important;
}

// Style to add padding to the bullet item.
.align-bullet-item li {
  padding-left: 20px;
}

// Creates a panel that will not affect the layout. Used mainly
// for grouping when the Container component is not applicable
// because there is no need of a schema change.
// ">" is used to get the immediate child element with class "border"
// and its immediate child element "card-body", else it will
// effect the non formio-panel-unset class inner panels.
.formio-component-panel.formio-panel-unset > .border {
  border-style: none !important;
}

.formio-component-panel.formio-panel-unset > .border > .card-body {
  padding: 0px;
}

// Squared bordered style for formio md-6 col.
.formio-bordered-column .col-md-6 {
  border: 1px solid $common-border-color;
  border-radius: 0px;
}

// Formio table style as per figma.
.formio-bordered table {
  border: 1px solid $common-border-color;
}

// Formio figma style for the nth child (like total).
.formio-table-last-col-background table tbody tr:last-child {
  background-color: $default-background;
}

// Formio table style for alignment.
.formio-bordered table tbody tr td {
  max-width: 70px;
}

.flexible-width-formio-bordered table tbody tr td {
  max-width: 355px;
}

// Custom tooltip for html component(or components without tooltip feature) in formio.
.formio-custom-tooltip {
  position: absolute;
  display: inline-flex;
  z-index: auto;
}

.formio-custom-tooltip:before {
  content: "\f059";
  font-family: "BCSans", "Noto Sans", Verdana, Arial, sans-serif, "FontAwesome";
  color: $brand-grey;
  font-size: 16px;
  padding: 0 10px;
}

.formio-custom-tooltip .tooltip-text {
  @extend .tooltip-style;
  visibility: hidden;
  opacity: 1;
  z-index: 100;
}

td .formio-custom-tooltip:hover .tooltip-text {
  display: block;
  min-width: 200px;
}

.formio-custom-tooltip:hover .tooltip-text {
  visibility: visible;
}

// Formio tooltip style
.tippy-box {
  @extend .tooltip-style;
  visibility: visible;
  opacity: 1;

  .tippy-content {
    padding: 0;
  }

  .tippy-arrow {
    color: rgba(51, 51, 51, 0.9);
  }
}

// Collapsible panel style as per figma.
.collapsible .card-header.bg-default {
  border-left: 8px solid $brand-blue;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

// Collapsible panel style as per figma.
.collapsible > div.border {
  border-width: 0 !important;
}

.collapsible .card-header {
  border-bottom-width: 0 !important;
}
.collapsible .card-body {
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: $common-border-color;
}
.collapsible i::before {
  color: $brand-blue;
}
// Align to parallel formio panel (eg, student welcome page).
.align-formio-panel > div {
  min-height: 225px;
}

// Style for formio href.
.formio-href {
  font-family: $font-bold;
  font-weight: $font-weight-bold; // Fallback
  color: $brand-blue;
  border-bottom: 1px $brand-blue solid;
  &:hover {
    text-decoration: none;
  }
}

// Align style for read-only dropdowns (e.g. province, canada, institution code).
[disabled] {
  background-color: $read-only-background;
}

// Align style for read-only form elements
.form-control:disabled,
.form-control[readonly] {
  cursor: not-allowed;
}

// Adjusting margin for all formio file uploader.
.formio-component-file .fileSelector {
  margin-top: 5px;
}

// Adjusting margin for all formio file uploader.
.formio-component-file ul.list-group.list-group-striped {
  margin-left: 0;
}

// Forcing the default formio style for smaller breakpoints.
.formio-component-file ul li.list-group-item {
  border: 1px solid rgba(0, 0, 0, 0.125) !important;
}

// Removes the required sign from the input fields with .no-required-field-sign.
.no-required-field-sign label.field-required:after {
  content: none;
}

// Removes the required field sign from the radio components with .no-required-field-sign.
.no-required-field-sign label.form-check-label:before {
  content: none !important;
}

// Add some spacing between the wizard navigation and wizard content.
.wizard-page {
  margin-top: 15px;
}

// Removes extra text on file component
.visually-hidden {
  display: none;
}

// Shows the remove icon
.bi-trash::before {
  content: "\f5de" !important;
}

// Shows the calendar icon
.bi-calendar::before {
  content: "\f1f6" !important;
}

// Shows the tooltip icon
.bi-question-circle::before {
  content: "\f504" !important;
}

// Styles related to the application changes
// between the current and previous application versions.
.changed-value-base {
  color: $application-changed-value-color;
  border-radius: 5px;
  border: 1px solid $application-changed-value-color;
  padding: 4px;
}

.changed-value-content-base {
  @extend .label-small-bold;
  background: $application-changed-value-color;
  color: white;
  border-radius: 5px;
  display: block;
}

.changed-value {
  @extend .changed-value-base;
}

.changed-value::before {
  @extend .changed-value-content-base;
  content: "\00a0\00a0Updated";
}

.changed-list-item-removed {
  @extend .changed-value-base;
}

.changed-list-item-removed::before {
  @extend .changed-value-content-base;
  content: "\00a0\00a0Items were removed from this list";
}

.changed-list-item-appended {
  @extend .changed-value-base;
}

.changed-list-item-appended::before {
  @extend .changed-value-content-base;
  content: "\00a0\00a0Items were appended to the list";
}
