@import "./global-style-variables.scss";
@import "./base.scss";

/** Primary theme color of the application**/
.primary-color {
  color: $brand-blue !important;
}

.secondary-btn-background {
  background: $secondary-header-color !important;
  color: $button-font-color !important;
}

.secondary-btn-background-lt {
  background: $secondary-header-color-lt !important;
  color: $button-font-color !important;
}

.primary-btn-background {
  background: $brand-blue !important;
  color: $button-font-color !important;
}

/**Secondary theme color of the application**/
.secondary-color {
  color: $secondary-header-color !important;
}

.secondary-color-light {
  color: $secondary-header-color-lt !important;
}

.ff-form-container .btn-primary {
  color: white !important;
  background: $brand-blue !important;
}

/**Typography styles for small header**/
.category-header-small {
  height: 18px;
  font-style: $font-style-normal;
  font-weight: $font-weight-bold;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.category-header-small-no-transform {
  @extend .category-header-small;
  text-transform: none;
}

/**Typography styles for medium small header**/
.category-header-medium-small {
  font-style: $font-style-normal;
  font-weight: $font-weight-bold;
  font-size: $font-header-small;
  line-height: $line-height-header-sm;
}

/**Typography styles for medium header**/
.category-header-medium {
  font-style: $font-style-normal;
  font-weight: $font-weight-bold;
  font-size: $font-header-medium;
  line-height: $line-height-header-md;
}

/**Typography styles for large header**/
.category-header-large {
  font-style: $font-style-normal;
  font-weight: $font-weight-bold;
  font-size: $font-header-large;
  line-height: $line-height-header-lg;
}

.label-medium {
  font-style: $font-style-normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}

.label-small {
  font-style: $font-style-normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
}

.ff-form-container .alert-success {
  display: none;
}

.btn-formio-primary-outlined {
  background: #ffffff !important;
  color: $brand-blue !important;
}

.panel-error .card-body {
  border: 2px solid $panel-error-color;
}

.panel-warning .card-body {
  border: 2px solid $panel-warning-color;
}

/**
* Adjust the alignment for the bullet list on
* the error summary displayed on the top 
* of the Form.IO forms.
*/
.ff-form-container [id^="error-list"] ul {
  padding-left: 20px;
}

.align-bullets ul {
  padding-left: 20px;
}

/**Todo: formio-component-content styles must be removed once content component is
 removed from all the forms  **/

.formio-component-content h2 strong {
  font-style: $font-style-normal;
  font-weight: $font-weight-bold;
  font-size: $font-header-large;
  line-height: $line-height-header-lg;
}

.formio-component-content h3 strong {
  font-style: $font-style-normal;
  font-weight: $font-weight-bold;
  font-size: $font-header-medium;
  line-height: $line-height-header-md;
}

.formio-component-content h4 strong {
  font-style: $font-style-normal;
  font-weight: $font-weight-bold;
  font-size: $font-header-small;
  line-height: $line-height-header-sm;
}

/** Forcing line height for category-header-large **/
.formio-component-htmlelement.category-header-large p {
  line-height: $line-height-header-lg;
}

/** Forcing line height for category-header-medium **/
.formio-component-htmlelement.category-header-medium p {
  line-height: $line-height-header-md;
}

/** Forcing line height for category-header-medium-small and small **/
.formio-component-htmlelement.category-header-medium-small p,
.formio-component-htmlelement.category-header-small p {
  line-height: $line-height-header-sm;
}

.formio-component .col-form-label {
  font-weight: $font-weight-bold;
}

.formio-component-htmlelement p,
.formio-component-htmlelement div,
.formio-component-htmlelement ul li,
.formio-component label,
.formio-component-content p {
  line-height: $formio-content-lh;
}
.formio-component,
.banner-alert strong,
.banner-info strong,
.banner-warning strong {
  color: $app-content-color;
}

.formio-component .primary-color p {
  color: $brand-blue;
}

.formio-component .fa {
  font-family: "FontAwesome", "BCSans", sans-serif;
  font-size: $formio-content;
  line-height: $formio-content-lh;
  font-weight: 400;
}

.formio-component-htmlelement.header-lg p,
.formio-component-htmlelement.header-lg div {
  line-height: $line-height-header-lg;
  margin-bottom: $formio-header-margin;
}

.formio-component-htmlelement.header-md p,
.formio-component-htmlelement.header-md div {
  line-height: $line-height-header-md;
  margin-bottom: $formio-header-margin;
}

.formio-component-htmlelement.header-sm p,
.formio-component-htmlelement.header-sm div {
  line-height: $line-height-header-sm;
  margin-bottom: $formio-header-margin;
}

.header-lg {
  color: $brand-blue;
  font-style: $font-style-normal;
  font-weight: $font-weight-bold;
  font-size: $font-header-large;
  line-height: $line-height-header-lg;
  margin-bottom: $formio-header-margin;
}

.header-md {
  color: $brand-blue;
  font-style: $font-style-normal;
  font-weight: $font-weight-bold;
  font-size: $font-header-medium;
  line-height: $line-height-header-md;
  margin-bottom: $formio-header-margin;
}

.header-sm {
  color: $brand-blue;
  font-style: $font-style-normal;
  font-weight: $font-weight-bold;
  font-size: $font-header-small;
  line-height: $line-height-header-sm;
  margin-bottom: $formio-header-margin;
}

.banner-alert p,
.banner-alert div {
  background: $banner-background-error;
  border: 2px solid $banner-color-error;
  box-sizing: border-box;
  border-radius: 8px;
}
.banner-warning p,
.banner-warning div {
  background: $banner-background-warning;
  border: 2px solid $banner-color-warning;
  box-sizing: border-box;
  border-radius: 8px;
}

.banner-info p,
.banner-info div {
  background: $banner-background-info;
  border: 2px solid $banner-color-info;
  box-sizing: border-box;
  border-radius: 8px;
}

/**
* When columns are displayed side by side and the labels
* are long enough the columns have different heights.
* This style, when applied to the columns component on Form.IO,
* will force the components to be  aligned to the bottom. 
*/
.align-column-content-bottom div {
  margin-top: auto !important;
}

/**
* TODO: This style has been added as v-dialog is not being responsive. 
* Once This bug is resolved in Vuetify3, this style can be removed.
*/
.min-width-modal {
  min-width: 500px;
}
/**
* TODO: This style has been added as v-dialog is not being responsive. 
* Once This bug is resolved in Vuetify3, this style can be removed.
*/
.temporary-modal {
  min-width: 600px;
  max-height: 700px;
  overflow: auto;
}

/**
* This style is exclusively for locations grid in
* approve designation modal.
*/
.locations-grid .table td,
.locations-grid .table-bordered {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  border: none;
}

.form-status-badge {
  border-width: 1px;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  border-radius: 30px;
  border-style: solid;
  text-transform: uppercase;
  font-size: 12px !important;
}

.status-active-restriction .form-status-badge {
  font-weight: 700;
  border-color: $badge-border-warning;
}

.status-active-restriction .fa-circle::before {
  color: #ff7a00;
}

.formio-success-status .form-status-badge {
  font-weight: 700;
  border-color: $badge-border-success;
  text-transform: none;
}

.formio-success-status .fa-circle::before {
  color: #16c92e;
}

.banner-warning .fa-exclamation-triangle:before {
  color: $banner-color-warning;
}

/* form.io status chip */
.formio-status-chip {
  border-width: 1px;
  padding-left: 15px;
  padding-right: 10px;
  position: absolute;
  border-radius: 30px;
  border-style: solid;
  font-weight: 700 !important;
  font-size: 12px !important;
  color: $brand-black;
}
.formio-status-chip.fa-circle::before {
  margin-right: 6px;
}
/* Success status */
.formio-status-chip.success {
  border-color: $badge-border-success;
}
.formio-status-chip.success.fa-circle::before {
  color: $banner-color-success;
}
/* Warning status */
.formio-status-chip.warning {
  border-color: $badge-border-warning;
}
.formio-status-chip.warning.fa-circle::before {
  color: $banner-color-warning;
}
/* Error status */
.formio-status-chip.error {
  border-color: $badge-border-error;
}
.formio-status-chip.error.fa-circle::before {
  color: $banner-color-error;
}
/* Inactive status */
.formio-status-chip.inactive {
  border-color: $badge-border-inactive;
}
.formio-status-chip.inactive.fa-circle::before {
  color: $brand-black;
}

.form-check-input {
  position: inherit;
}

.img-welcome-background {
  background-image: url("../images/image_institution_welcome.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  min-height: $image-min-height;
}

.img-active-support-background {
  background-image: url("../images/image_active_support.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  min-height: 150px;
}

.img-student-welcome-background {
  background-image: url("../images/image_student_welcome.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  min-height: $image-min-height;
}

.muted-content {
  color: $color-muted;
}

.ff-form-container .btn-formio-primary-outlined .btn-primary {
  @extend .btn-formio-primary-outlined;
  border: 1px solid $brand-blue !important;
  box-sizing: border-box;
  border-radius: 5px;
}

.ff-form-container .formio-panel-bg-secondary .card-body {
  background-color: $color-background;
}
// CSS to override data grid table style.
.ff-form-container .formio-datagrid-unset .table-bordered td,
.ff-form-container .formio-datagrid-unset .table-bordered th,
.ff-form-container .formio-datagrid-unset .table thead th,
.ff-form-container .formio-datagrid-unset .table-bordered {
  border: none;
}

.ff-form-container .formio-datagrid-unset table thead {
  display: none;
}
.ff-form-container .formio-datagrid-unset .table td,
.ff-form-container .formio-datagrid-unset .table th {
  padding: 0;
}

// CSS for panel component border to match Figma.
.formio-component-panel .border {
  border: 1px solid $common-border-color !important;
  border-radius: 8px !important;
}

// Style to add padding to the bullet item.
.align-bullet-item li {
  padding-left: 20px;
}

// Creates a panel that will not affect the layout. Used mainly
// for grouping when the Container component is not applicable
// because there is no need of a schema change.
// > is used to get the immediate child element with class "border"
// and its immediate child element "card-body", else it will
// effect the non formio-panel-unset class inner panels.
.formio-component-panel.formio-panel-unset > .border {
  border-style: none !important;
}

.formio-component-panel.formio-panel-unset > .border > .card-body {
  padding: 0px;
}

// todo : Ann comment
.formio-bordered-column .col-md-6 {
  border: 1px solid #e8e8e8;
  border-radius: 0px;
}
