.color-blue {
  color: #2965C5;
}
.spaced-text{
  letter-spacing: 0.5em !important;
}
.coe-menu-option {
  margin-left: -250px !important;
}

.coe-info-border {
  padding: 2%;
  border-style: solid;
  border-color: #16C92E !important;
  border-radius: 10px;
  word-wrap: break-word;
  background-color: #EDFFEF  !important;
}

.coe-ocw-info-border {
  padding: 2%;
  border-style: solid;
  border-radius: 10px;
  word-wrap: break-word;
}

.coe-icw-info-border {
  padding: 2%;
  border-style: solid;
  border-color: #2965C5 !important;
  border-radius: 10px;
  word-wrap: break-word;
  background-color: #EFF5FF  !important;

}
.coe-denied-info-border {
  padding: 2%;
  border-style: solid;
  border-color: #EB5757 !important;
  border-radius: 10px;
  word-wrap: break-word;
  background-color:  #FFF2F1 !important;
}