@import "./global-style-variables.scss";

.color-blue {
  color: $brand-blue;
}
.spaced-text {
  letter-spacing: 0.5em !important;
}
.coe-menu-option {
  margin-left: -250px !important;
}

.coe-info-border {
  padding: 2%;
  border-style: solid;
  border-color: #16c92e !important;
  border-radius: 10px;
  word-wrap: break-word;
  background-color: #edffef !important;
}

.coe-ocw-info-border {
  padding: 2%;
  border-style: solid;
  border-radius: 10px;
  word-wrap: break-word;
}

.coe-icw-info-border {
  padding: 2%;
  border-style: solid;
  border-color: $brand-blue !important;
  border-radius: 10px;
  word-wrap: break-word;
  background-color: #eff5ff !important;
}
.coe-denied-info-border {
  padding: 2%;
  border-style: solid;
  border-color: #eb5757 !important;
  border-radius: 10px;
  word-wrap: break-word;
  background-color: #fff2f1 !important;
}
