.location-box {
  border-radius: 10px;
  border: 1px solid #d8d2d2;
  padding: 20px;
}
.color-blue {
  color: #1763b5;
}
.spaced-text{
  letter-spacing: 0.5em !important;
}
.coe-menu-option{margin-left: -250px !important;}