@import "./global-style-variables.scss";
/** Styles for the note component overriding the color and typography of timeline */

.content-header {
  color: $brand-black;
  font-weight: $font-weight-bold;
  font-size: 17px;
  line-height: 22px;
  font-style: $font-style-normal;
}

.content-footer {
  color: $brand-black;
  font-weight: 400;
  font-size: $font-size-xsmall;
  line-height: 21px;
  font-style: $font-style-normal;
}
