@import "./global-style-variables.scss";

.v-btn {
  text-transform: none !important;
  white-space: nowrap;
}

.alert_banner_radius {
  border-radius: 8px;
}

.v-alert.text-success {
  @extend .alert_banner_radius;
  background-color: $banner-background-success;
  border: 3px solid $banner-color-success;
}

.v-alert.text-warning {
  @extend .alert_banner_radius;
  background-color: $banner-background-warning;
  border: 3px solid $banner-color-warning;
}

.v-alert.text-error {
  @extend .alert_banner_radius;
  background-color: $banner-background-error;
  border: 3px solid $banner-color-error;
}

.v-alert.text-info {
  @extend .alert_banner_radius;
  background-color: $banner-background-info;
  border: 3px solid $banner-color-info;
}

// Reducing the spacing to looks like more with the UI definitions.
.v-list-item-icon--start {
  -webkit-margin-end: 10px !important;
  margin-inline-end: 10px !important;
}

// Reducing the spacing to looks like more with the UI definitions.
.v-list-group__items {
  --indent-padding: 10px !important;
}

// Temporary fix for Vuetify beta that does not display the radio button properly.
.v-radio .mdi:before {
  font: unset !important;
}

// Reducing the spacing.
.v-input__details {
  margin-bottom: 4px !important;
  padding-left: 0px !important;
}

// Fixing wrong label alignment for radio buttons on Vuetify beta 4.
.v-label {
  margin-bottom: 0px !important;
}
// v-snackbar success style.
.snackbar-success .v-overlay__content {
  border: 3px solid $banner-color-success;
  border-radius: 8px;
}
.snackbar-success .v-overlay__content {
  background: $banner-background-success;
}
.snackbar-success .icon-color {
  color: $banner-color-success;
}

// v-snackbar error style.
.snackbar-error .v-overlay__content {
  border: 3px solid $banner-color-error;
  border-radius: 8px;
}
.snackbar-error .v-overlay__content {
  background: $banner-background-error;
}
.snackbar-error .icon-color {
  color: $banner-color-error;
}

// v-snackbar warning style.
.snackbar-warn .v-overlay__content {
  border: 3px solid $banner-color-warning;
  border-radius: 8px;
}
.snackbar-warn .v-overlay__content {
  background: $banner-background-warning;
}
.snackbar-warn .icon-color {
  color: $banner-color-warning;
}

.default-color {
  color: $brand-black;
}
.error-color {
  color: $banner-color-error;
}

// Inset adjustment for v-divider.
// Todo: inset adjustment, remove when stable vuetify is installed.
.v-divider--inset:not(.v-divider--vertical) {
  max-width: calc(100% - 29px) !important;
  margin-inline-start: 16px !important;
}

.warning-shade {
  color: $warning-shade;
}
.success-shade {
  color: $success-shade;
}
