@use "./base.scss" as *;

// Custom Vuetify styles
.v-btn {
  text-transform: none !important;
  white-space: nowrap;
  outline: none !important;
}

.alert_banner_radius {
  border-radius: 8px;
}

.sims-banner.v-alert.text-success {
  @extend .alert_banner_radius;
  background-color: $banner-background-success;
  border: 3px solid $banner-color-success;
}

.sims-banner.v-alert.text-warning {
  @extend .alert_banner_radius;
  background-color: $banner-background-warning;
  border: 3px solid $banner-color-warning;
}

.sims-banner.v-alert.text-error {
  @extend .alert_banner_radius;
  background-color: $banner-background-error;
  border: 3px solid $banner-color-error;
}

.sims-banner.v-alert.text-info {
  @extend .alert_banner_radius;
  background-color: $banner-background-info;
  border: 3px solid $banner-color-info;
}

// Reducing the spacing to looks like more with the UI definitions.
.v-list-item-icon--start {
  -webkit-margin-end: 10px !important;
  margin-inline-end: 10px !important;
}

// Reducing the spacing to looks like more with the UI definitions.
.v-list-group__items {
  --indent-padding: 10px !important;
}

.v-radio .mdi:before {
  font: unset !important;
}

.v-checkbox .mdi:before {
  font: unset !important;
}

.v-selection-control__input .mdi:before {
  font: unset !important;
}

// Reducing the spacing.
.v-input__details {
  margin-bottom: 4px !important;
  padding-left: 0px !important;
}

// Fixing wrong label alignment for radio buttons on Vuetify beta 4.
.v-label {
  margin-bottom: 0px !important;
}

// v-snackbar success style.
.snackbar-success .v-overlay__content {
  border: 3px solid $banner-color-success;
  border-radius: 8px;
}
.snackbar-success .v-overlay__content {
  background: $banner-background-success;
}
.snackbar-success .icon-color {
  color: $banner-color-success;
}

// v-snackbar error style.
.snackbar-error .v-overlay__content {
  border: 3px solid $banner-color-error;
  border-radius: 8px;
}
.snackbar-error .v-overlay__content {
  background: $banner-background-error;
}
.snackbar-error .icon-color {
  color: $banner-color-error;
}

// v-snackbar warning style.
.snackbar-warn .v-overlay__content {
  border: 3px solid $banner-color-warning;
  border-radius: 8px;
}
.snackbar-warn .v-overlay__content {
  background: $banner-background-warning;
}
.snackbar-warn .icon-color {
  color: $banner-color-warning;
}

.black-color {
  color: $brand-black;
}
.error-color {
  color: $banner-color-error;
}

// Inset adjustment for v-divider.
// Todo: inset adjustment, remove when stable vuetify is installed.
.v-divider--inset:not(.v-divider--vertical) {
  max-width: calc(100% - 29px) !important;
  margin-inline-start: 16px !important;
}

.warning-shade {
  color: $warning-shade;
}
.success-shade {
  color: $success-shade;
}

//CSS class added to match v-tab with figma.
.v-slide-group.v-tabs.v-tabs--horizontal
  .v-slide-group__container
  .v-slide-group__content {
  border-bottom: 2px solid $common-border-color;
}

// CSS to match the height of progress bar as per figma.
.stepper-progress-slider.v-slider.v-input--horizontal .v-slider-track__fill,
.stepper-progress-slider.v-slider.v-input--horizontal
  .v-slider-track__background {
  max-height: $progress-bar-height;
}

// v-btn toggle background color for notes, to match with Figma.
.btn-toggle button:not(.selected-btn-toggle) {
  color: $color-white !important;
  background: $brand-grey !important;
}

.v-expansion-panel-title {
  text-align: left;
}

.v-expansion-panel-title .v-icon {
  color: $brand-blue;
}

// Changed the style to match with Figma.
.v-btn--variant-outlined {
  background-color: white !important;
}

// Todo : v-field label adjustment.Remove below style if its fixed in vuetify3.
.v-field {
  overflow: inherit !important;
}

.v-table {
  color: $app-content-color !important;
}

.v-overlay-container .v-tooltip .v-overlay__content {
  @extend .tooltip-style;
}

// Changes the background of readonly inputs.
.v-input--readonly {
  .v-field {
    background-color: $read-only-background;
  }
}

.overflow-visible .v-card {
  overflow: visible;
}

.label-bold-menu .v-list-item .v-list-item-title {
  @extend .label-bold;
}
