version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/sources/packages/web"
    commit-message:
      prefix: "npm-frontend"
    schedule:
      interval: "weekly"
    labels:
      - "Dependencies"
      - "Web portal"
      - "npm"
    groups:
      web-major-updates:
        patterns:
          - "*"
        update-types:
          - "major"
      web-minor-updates:
        patterns:
          - "*"
        update-types:
          - "minor"
      web-patches-updates:
        patterns:
          - "*"
        update-types:
          - "patch"
      web-formio:
        patterns:
          - "@formio*"
          - "bootstrap*"
          - "@fortawesome/fontawesome-free"
        update-types:
          - "major"
          - "minor"
          - "patch"
  - package-ecosystem: "npm"
    directory: "/sources/packages/backend"
    commit-message:
      prefix: "npm-backend"
    schedule:
      interval: "weekly"
    labels:
      - "Dependencies"
      - "Backend"
      - "npm"
    groups:
      backend-major-updates:
        patterns:
          - "*"
        update-types:
          - "major"
      backend-minor-updates:
        patterns:
          - "*"
        update-types:
          - "minor"
      backend-patches-updates:
        patterns:
          - "*"
        update-types:
          - "patch"
  - package-ecosystem: "npm"
    directory: "/sources/packages/forms"
    commit-message:
      prefix: "npm-forms-deployment"
    schedule:
      interval: "weekly"
    labels:
      - "Dependencies"
      - "Form.io"
      - "npm"
    groups:
      forms-major-updates:
        patterns:
          - "*"
        update-types:
          - "major"
      forms-minor-updates:
        patterns:
          - "*"
        update-types:
          - "minor"
      forms-patches-updates:
        patterns:
          - "*"
        update-types:
          - "patch"
  - package-ecosystem: "npm"
    directory: "/sources/packages/load-test"
    commit-message:
      prefix: "npm-load-test"
    schedule:
      interval: "weekly"
    labels:
      - "Dependencies"
      - "Load Test"
      - "npm"
    groups:
      load-test-major-updates:
        patterns:
          - "*"
        update-types:
          - "major"
      load-test-minor-updates:
        patterns:
          - "*"
        update-types:
          - "minor"
      load-test-patches-updates:
        patterns:
          - "*"
        update-types:
          - "patch"
  # GitHub Actions updates.
  - package-ecosystem: "github-actions"
    commit-message:
      prefix: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    labels:
      - "Dependencies"
      - "GitHub actions"
    groups:
      github-actions-updates:
        patterns:
          - "*"
    # Docker updates.
  - package-ecosystem: "docker"
    commit-message:
      prefix: "docker"
    directory: "/sources/packages/backend"
    schedule:
      interval: "weekly"
    labels:
      - "Dependencies"
      - "Docker"
      - "Backend"
    groups:
      docker-backend-updates:
        patterns:
          - "*"
  - package-ecosystem: "docker"
    commit-message:
      prefix: "docker"
    directory: "/sources/packages/web"
    schedule:
      interval: "weekly"
    labels:
      - "Dependencies"
      - "Docker"
      - "Web portal"
    groups:
      docker-frontend-updates:
        patterns:
          - "*"
