node_modules/
**/node_modules/
.env
**/.env
**/*.env.ts
dist/
**/dist/
.DS_Store
**/.DS_Store
.vscode/*
!.vscode/launch.json
*.log
**/coverage/*

#cypress
screenshots/
testing/**/report/
videos/
cypress.env.json

charts/
template.yaml
*.secret.yaml


