node_modules/
**/node_modules/
.env
**/.env
dist/
**/dist/
.DS_Store
**/.DS_Store
.vscode/
*.log

#from reports
cypress/report/
cypress/screenshots/

#from cypress json
cypress.env.json
testing/functional/tests/cypress/screenshots/
testing/functional/tests/cypress/videos/
testing/functional/tests/cypress/reports/
testing/functional/tests/cypress/report/
