apiVersion: template.openshift.io/v1
kind: Template
metadata:
  name: ${SECRET_NAME}-template
labels:
  project: ${PROJECT_NAME}
  service: ${NAME}
objects:
  - apiVersion: v1
    kind: Secret
    metadata:
      name: ${SECRET_NAME}
    stringData:
      bceid-web-service-online-service-id: ${BCeID_WEB_SERVICE_ONLINE_SERVICE_ID}
      bceid-web-service-requester-user-guid: ${BCeID_WEB_SERVICE_REQUESTER_USER_GUID}
      bceid-web-service-auth-user-name: ${BCeID_WEB_SERVICE_AUTH_USER_NAME}
      bceid-web-service-auth-user-password: ${BCeID_WEB_SERVICE_AUTH_USER_PASSWORD}
      cra-request-folder: ${CRA_REQUEST_FOLDER}
      cra-response-folder: ${CRA_RESPONSE_FOLDER}
      cra-program-area-code: ${CRA_PROGRAM_AREA_CODE}
      cra-environment-code: ${CRA_ENVIRONMENT_CODE}
      esdc-request-folder: ${ESDC_REQUEST_FOLDER}
      esdc-response-folder: ${ESDC_RESPONSE_FOLDER}
      esdc-environment-code: ${ESDC_ENVIRONMENT_CODE}
      sfas-receive-folder: ${SFAS_RECEIVE_FOLDER}
      sims-db-name: ${SIMS_DB_NAME}
      institution-request-folder: ${INSTITUTION_REQUEST_FOLDER}
      institution-response-folder: ${INSTITUTION_RESPONSE_FOLDER}
      atbc-username: ${ATBC_USERNAME}
      atbc-password: ${ATBC_PASSWORD}
      atbc-app: ${ATBC_APP}
      gc-notify-url: ${GC_NOTIFY_URL}
      gc-notify-api-key: ${GC_NOTIFY_API_KEY}
      zeebe-address: ${ZEEBE_ADDRESS}
      zeebe-client-id: ${ZEEBE_CLIENT_ID}
      zeebe-client-secret: ${ZEEBE_CLIENT_SECRET}
      camunda-oauth-url: ${CAMUNDA_OAUTH_URL}
      queue-dashboard-user: ${QUEUE_DASHBOARD_USER}
      queue-dashboard-password: ${QUEUE_DASHBOARD_PASSWORD}
parameters:
  - name: NAME
    description: |
      The name of the application for labelling all artifacts.
    displayName: Application Name
    required: true
  - name: SECRET_NAME
    description: |
      The name of the secret to be linked.
    displayName: Secret name
    required: true
  - name: PROJECT_NAME
    value: sims
  - name: BCeID_WEB_SERVICE_ONLINE_SERVICE_ID
    displayName: BCeID Web Service Online Service ID
    description: |
      The Online Service Identifier is a unique key given to each Online Service.
      When you create an Online Service this identifier is generated.
      This key will be used in conjunction with the service account to
      determine authorizations to access each method.
      Linked to the IDIR by BCeID (IDIM team-CITZ Services), ISA required.
    required: true
  - name: BCeID_WEB_SERVICE_REQUESTER_USER_GUID
    displayName: BCeID Web Service Requester User Guid
    description: |
      The user GUID of the user that will be executing the Web Services calls.
      This user represents the user from Ministry LDAP and not the user from
      Keyclock and/or BCeID.
    required: true
  - name: BCeID_WEB_SERVICE_AUTH_USER_NAME
    displayName: BCeID Web Service Authentication User Name
    description: |
      User used to authenticate to the BCeID Web Service.
      The user name is expected to be in the format Domain\UserName
      (e.g. IDIR\UserName).
    required: true
  - name: BCeID_WEB_SERVICE_AUTH_USER_PASSWORD
    displayName: BCeID Web Service Authentication User Password
    required: true
    description: |
      Password used to authenticate to the BCeID Web Service.
  - name: CRA_REQUEST_FOLDER
    displayName: CRA Request Folder
    required: true
    description: |
      CRA folder on ZONE B network server to upload files.
  - name: CRA_RESPONSE_FOLDER
    displayName: CRA Response Folder
    required: true
    description: |
      CRA folder on ZONE B network server to read files.
  - name: CRA_PROGRAM_AREA_CODE
    displayName: CRA Program Area Code
    required: true
    description: |
      Program are code provided by CRA (4 letters).
  - name: CRA_ENVIRONMENT_CODE
    displayName: CRA Environment Code
    required: true
    description: |
      CRA environment identifier (A=Test, P=Production).
  - name: ATBC_USERNAME
    displayName: ATBC username
    required: true
    description: |
      ATBC username to get access token.
  - name: ATBC_PASSWORD
    displayName: ATBC password
    required: true
    description: |
      ATBC password to get access token.
  - name: ATBC_APP
    displayName: ATBC App name
    required: true
    description: |
      ATBC App name to get access token.
  - name: ESDC_REQUEST_FOLDER
    displayName: ESDC request folder
    required: true
    description: |
      ESDC folder on ZONE B network server to upload files.
  - name: ESDC_RESPONSE_FOLDER
    displayName: ESDC response folder
    required: true
    description: |
      ESDC folder on ZONE B network server to receive files.
  - name: ESDC_ENVIRONMENT_CODE
    displayName: ESDC environment code
    required: true
    description: |
      ESDC environment code, D=Dev, T=Test, P=Production
  - name: SFAS_RECEIVE_FOLDER
    displayName: SFAS receive folder
    required: true
    description: |
      Folder on the SFTP where SFAS integration files will be placed.
  - name: SIMS_DB_NAME
    displayName: SIMS database name
    required: true
    description: |
      Database name of SIMS applications.
  - name: INSTITUTION_REQUEST_FOLDER
    displayName: Institution request folder
    required: true
    description: |
      Folder on the SFTP where Institution integration files will be placed.
  - name: INSTITUTION_RESPONSE_FOLDER
    displayName: Institution response folder
    required: true
    description: |
      Folder on the SFTP from where Institution integration files will read.
  - name: GC_NOTIFY_URL
    displayName: GC notify URL
    required: true
    description: |
      GC notify URL to send email notification.
  - name: GC_NOTIFY_API_KEY
    displayName: GC notify API Key
    required: true
    description: |
      GC notify API key to send email notification.
  - name: ZEEBE_ADDRESS
    displayName: Zeebe address
    required: true
    description: |
      Zeebe address to connect to.
  - name: ZEEBE_CLIENT_ID
    displayName: Zeebe client id.
    required: true
    description: |
      Zeebe client id used for authentication.
  - name: ZEEBE_CLIENT_SECRET
    displayName: Zeebe client id.
    required: true
    description: |
      Zeebe client secret used for authentication.
  - name: CAMUNDA_OAUTH_URL
    displayName: Zeebe authorization server url
    required: true
    description: |
      Zeebe authorization server url.
  - name: QUEUE_DASHBOARD_USER
    description: Bull board UI user
    displayName: User for queue monitoring dashboard
    generate: expression
    from: "[a-zA-Z0-9]{8}"
    required: true
  - name: QUEUE_DASHBOARD_PASSWORD
    description: Bull board UI password
    displayName: Password for queue monitoring dashboard
    generate: expression
    from: "[a-zA-Z0-9]{32}"
    required: true
