apiVersion: template.openshift.io/v1
kind: Template
metadata:
  name: ${NAME}
labels:
  project: ${PROJECT}
  service: ${SERVICE_NAME}
objects:
  - apiVersion: apps.openshift.io/v1
    kind: DeploymentConfig
    metadata:
      name: ${NAME}
    spec:
      replicas: "${{REPLICAS}}"
      revisionHistoryLimit: 10
      selector:
        deploymentconfig: ${NAME}
      strategy:
        type: Rolling
      template:
        metadata:
          labels:
            deploymentconfig: ${NAME}
        spec:
          containers:
            - env:
                - name: VERSION
                  value: ${BUILD_TAG}
                - name: NODE_ENV
                  value: ${NODE_ENV}
                - name: LOAD_TEST_API_PORT
                  value: "${PORT}"
                - name: KEYCLOAK_REALM
                  value: ${KEYCLOAK_REALM}
                - name: KEYCLOAK_AUTH_URL
                  value: ${KEYCLOAK_AUTH_URL}
                - name: POSTGRES_HOST
                  value: "${DB_SERVICE}"
                - name: POSTGRES_USER
                  valueFrom:
                    secretKeyRef:
                      key: ${DB_USERNAME_KEY}
                      name: ${DB_SECRET_NAME}
                - name: POSTGRES_PASSWORD
                  valueFrom:
                    secretKeyRef:
                      key: ${DB_PASSWORD_KEY}
                      name: ${DB_SECRET_NAME}
                - name: POSTGRES_DB
                  valueFrom:
                    secretKeyRef:
                      key: ${SIMS_DB_NAME}
                      name: ${LOAD_TEST_GATEWAY_SECRET_NAME}
                - name: DISABLE_ORM_CACHE
                  value: ${DISABLE_ORM_CACHE}
                - name: ZEEBE_ADDRESS
                  valueFrom:
                    secretKeyRef:
                      key: ${ZEEBE_ADDRESS_KEY}
                      name: ${LOAD_TEST_GATEWAY_SECRET_NAME}
                - name: ZEEBE_CLIENT_ID
                  valueFrom:
                    secretKeyRef:
                      key: ${ZEEBE_CLIENT_ID_KEY}
                      name: ${LOAD_TEST_GATEWAY_SECRET_NAME}
                - name: ZEEBE_CLIENT_SECRET
                  valueFrom:
                    secretKeyRef:
                      key: ${ZEEBE_CLIENT_SECRET_KEY}
                      name: ${LOAD_TEST_GATEWAY_SECRET_NAME}
                - name: CAMUNDA_OAUTH_URL
                  valueFrom:
                    secretKeyRef:
                      key: ${CAMUNDA_OAUTH_URL_KEY}
                      name: ${LOAD_TEST_GATEWAY_SECRET_NAME}
              image: ${IMAGE_REGISTRY}/${BUILD_NAMESPACE}/${IMAGE_STREAM_TAG}
              imagePullPolicy: Always
              name: ${NAME}
              ports:
                - containerPort: "${{PORT}}"
              resources:
                limits:
                  cpu: ${CPU_LIMIT}
                  memory: ${MEMORY_LIMIT}
                requests:
                  cpu: ${CPU_REQUEST}
                  memory: ${MEMORY_REQUEST}
  - apiVersion: v1
    kind: Service
    metadata:
      name: ${NAME}
    spec:
      ports:
        - name: http
          port: 80
          targetPort: ${{PORT}}
      selector:
        deploymentconfig: ${NAME}
      type: ClusterIP
  - apiVersion: route.openshift.io/v1
    kind: Route
    metadata:
      name: ${NAME}
    spec:
      host: ${HOST_NAME}
      path: ${PATH}
      tls:
        insecureEdgeTerminationPolicy: Redirect
        termination: edge
      to:
        kind: Service
        name: ${NAME}
parameters:
  - name: NAME
    required: true
  - name: PROJECT
    value: sims
  - name: SERVICE_NAME
    value: queue-consumers
  - name: CPU_LIMIT
    value: "0.4"
  - name: MEMORY_LIMIT
    value: "512M"
  - name: CPU_REQUEST
    value: "0.2"
  - name: MEMORY_REQUEST
    value: "256M"
  - name: REPLICAS
    value: "1"
  - name: DB_SERVICE
    value: patroni-master
  - name: DB_SECRET_NAME
    value: patroni-creds
  - name: DB_USERNAME_KEY
    value: database-user
  - name: DB_PASSWORD_KEY
    value: database-password
  - name: SIMS_DB_NAME
    value: sims-db-name
  - name: DISABLE_ORM_CACHE
    value: "true"
  - name: IMAGE_STREAM_TAG
    required: true
  - name: BUILD_NAMESPACE
    required: true
  - name: IMAGE_REGISTRY
    value: image-registry.openshift-image-registry.svc:5000
  - name: NODE_ENV
    value: "production"
  - name: BUILD_TAG
    value: "0"
  - name: LOAD_TEST_GATEWAY_SECRET_NAME
    required: true
  - name: ZEEBE_ADDRESS_KEY
    value: zeebe-address
    required: true
  - name: ZEEBE_CLIENT_ID_KEY
    value: zeebe-client-id
    required: true
  - name: ZEEBE_CLIENT_SECRET_KEY
    value: zeebe-client-secret
    required: true
  - name: CAMUNDA_OAUTH_URL_KEY
    value: camunda-oauth-url
    required: true
  - name: PATH
    value: "/load-test/"
  - name: PORT
    required: true
  - name: HOST_NAME
    required: true
  - name: KEYCLOAK_AUTH_URL
    required: true
  - name: KEYCLOAK_REALM
    required: true
