apiVersion: template.openshift.io/v1
kind: Template
metadata:
  name: ${NAME}
labels:
  project: ${PROJECT}
  service: ${SERVICE_NAME}
objects:
  - apiVersion: apps.openshift.io/v1
    kind: DeploymentConfig
    metadata:
      name: ${NAME}
    spec:
      replicas: "${{REPLICAS}}"
      revisionHistoryLimit: 10
      selector:
        deploymentconfig: ${NAME}
      strategy:
        type: Rolling
      template:
        metadata:
          labels:
            deploymentconfig: ${NAME}
        spec:
          containers:
            - env:
                - name: VERSION
                  value: ${BUILD_TAG}
                - name: NODE_ENV
                  value: ${NODE_ENV}
                - name: QUEUE_CONSUMERS_PORT
                  value: "${PORT}"
                - name: IS_FULLTIME_ALLOWED
                  value: "${IS_FULLTIME_ALLOWED}"
                - name: POSTGRES_HOST
                  value: "${DB_SERVICE}"
                - name: REDIS_HOST
                  value: "${REDIS_SERVICE}"
                - name: CLAMAV_HOST
                  value: "${CLAMAV_SERVICE}"
                - name: CLAMAV_PORT
                  value: "${CLAMAV_PORT}"
                - name: POSTGRES_USER
                  valueFrom:
                    secretKeyRef:
                      key: ${DB_USERNAME_KEY}
                      name: ${DB_SECRET_NAME}
                - name: POSTGRES_PASSWORD
                  valueFrom:
                    secretKeyRef:
                      key: ${DB_PASSWORD_KEY}
                      name: ${DB_SECRET_NAME}
                - name: POSTGRES_DB
                  valueFrom:
                    secretKeyRef:
                      key: ${SIMS_DB_NAME}
                      name: ${QUEUE_CONSUMERS_SECRET_NAME}
                - name: REDIS_PASSWORD
                  valueFrom:
                    secretKeyRef:
                      key: ${REDIS_PASSWORD_KEY}
                      name: ${REDIS_SECRET_NAME}
                - name: QUEUE_DASHBOARD_USER
                  valueFrom:
                    secretKeyRef:
                      key: ${DASHBOARD_USER_KEY}
                      name: ${QUEUE_CONSUMERS_SECRET_NAME}
                - name: QUEUE_DASHBOARD_PASSWORD
                  valueFrom:
                    secretKeyRef:
                      key: ${DASHBOARD_PASSWORD_KEY}
                      name: ${QUEUE_CONSUMERS_SECRET_NAME}
                - name: QUEUE_PREFIX
                  value: "${QUEUE_PREFIX}"
                - name: ZEEBE_ADDRESS
                  valueFrom:
                    secretKeyRef:
                      key: ${ZEEBE_ADDRESS_KEY}
                      name: ${QUEUE_CONSUMERS_SECRET_NAME}
                - name: ZEEBE_CLIENT_ID
                  valueFrom:
                    secretKeyRef:
                      key: ${ZEEBE_CLIENT_ID_KEY}
                      name: ${QUEUE_CONSUMERS_SECRET_NAME}
                - name: ZEEBE_CLIENT_SECRET
                  valueFrom:
                    secretKeyRef:
                      key: ${ZEEBE_CLIENT_SECRET_KEY}
                      name: ${QUEUE_CONSUMERS_SECRET_NAME}
                - name: CAMUNDA_OAUTH_URL
                  valueFrom:
                    secretKeyRef:
                      key: ${CAMUNDA_OAUTH_URL_KEY}
                      name: ${QUEUE_CONSUMERS_SECRET_NAME}
                - name: INSTITUTION_REQUEST_FOLDER
                  valueFrom:
                    secretKeyRef:
                      key: ${INSTITUTION_REQUEST_FOLDER_NAME_KEY}
                      name: ${QUEUE_CONSUMERS_SECRET_NAME}
                - name: INSTITUTION_RESPONSE_FOLDER
                  valueFrom:
                    secretKeyRef:
                      key: ${INSTITUTION_RESPONSE_FOLDER_NAME_KEY}
                      name: ${QUEUE_CONSUMERS_SECRET_NAME}
                - name: BYPASS_CRA_INCOME_VERIFICATION
                  value: ${BYPASS_CRA_INCOME_VERIFICATION}
                - name: ZONE_B_SFTP_SERVER
                  valueFrom:
                    secretKeyRef:
                      key: ${ZONE_B_SFTP_SERVER_NAME_KEY}
                      name: ${ZONE_B_SFTP_SECRET_NAME}
                - name: ZONE_B_SFTP_SERVER_PORT
                  valueFrom:
                    secretKeyRef:
                      key: ${ZONE_B_SFTP_SERVER_PORT_NAME_KEY}
                      name: ${ZONE_B_SFTP_SECRET_NAME}
                - name: ZONE_B_SFTP_USER_NAME
                  valueFrom:
                    secretKeyRef:
                      key: ${ZONE_B_SFTP_USER_NAME_NAME_KEY}
                      name: ${ZONE_B_SFTP_SECRET_NAME}
                - name: ZONE_B_SFTP_PRIVATE_KEY_PASSPHRASE
                  valueFrom:
                    secretKeyRef:
                      key: ${ZONE_B_SFTP_PRIVATE_KEY_PASSPHRASE_NAME_KEY}
                      name: ${ZONE_B_SFTP_SECRET_NAME}
                - name: ZONE_B_SFTP_PRIVATE_KEY
                  valueFrom:
                    secretKeyRef:
                      key: ${ZONE_B_SFTP_PRIVATE_KEY_NAME_KEY}
                      name: ${ZONE_B_SFTP_SECRET_NAME}
                - name: GC_NOTIFY_URL
                  valueFrom:
                    secretKeyRef:
                      key: ${GC_NOTIFY_URL_NAME_KEY}
                      name: ${QUEUE_CONSUMERS_SECRET_NAME}
                - name: GC_NOTIFY_API_KEY
                  valueFrom:
                    secretKeyRef:
                      key: ${GC_NOTIFY_API_KEY_NAME_KEY}
                      name: ${QUEUE_CONSUMERS_SECRET_NAME}
                - name: SFAS_RECEIVE_FOLDER
                  valueFrom:
                    secretKeyRef:
                      key: ${SFAS_RECEIVE_FOLDER_NAME_KEY}
                      name: ${QUEUE_CONSUMERS_SECRET_NAME}
                - name: CRA_REQUEST_FOLDER
                  valueFrom:
                    secretKeyRef:
                      key: ${CRA_REQUEST_FOLDER_NAME_KEY}
                      name: ${QUEUE_CONSUMERS_SECRET_NAME}
                - name: CRA_RESPONSE_FOLDER
                  valueFrom:
                    secretKeyRef:
                      key: ${CRA_RESPONSE_FOLDER_NAME_KEY}
                      name: ${QUEUE_CONSUMERS_SECRET_NAME}
                - name: CRA_PROGRAM_AREA_CODE
                  valueFrom:
                    secretKeyRef:
                      key: ${CRA_PROGRAM_AREA_CODE_NAME_KEY}
                      name: ${QUEUE_CONSUMERS_SECRET_NAME}
                - name: CRA_ENVIRONMENT_CODE
                  valueFrom:
                    secretKeyRef:
                      key: ${CRA_ENVIRONMENT_CODE_NAME_KEY}
                      name: ${QUEUE_CONSUMERS_SECRET_NAME}
                - name: ESDC_REQUEST_FOLDER
                  valueFrom:
                    secretKeyRef:
                      key: ${ESDC_REQUEST_FOLDER_NAME_KEY}
                      name: ${QUEUE_CONSUMERS_SECRET_NAME}
                - name: ESDC_RESPONSE_FOLDER
                  valueFrom:
                    secretKeyRef:
                      key: ${ESDC_RESPONSE_FOLDER_NAME_KEY}
                      name: ${QUEUE_CONSUMERS_SECRET_NAME}
                - name: ESDC_ENVIRONMENT_CODE
                  valueFrom:
                    secretKeyRef:
                      key: ${ESDC_ENVIRONMENT_CODE_NAME_KEY}
                      name: ${QUEUE_CONSUMERS_SECRET_NAME}
                - name: ATBC_LOGIN_ENDPOINT
                  value: ${ATBC_LOGIN_ENDPOINT}
                - name: ATBC_ENDPOINT
                  value: ${ATBC_ENDPOINT}
                - name: ATBC_USERNAME
                  valueFrom:
                    secretKeyRef:
                      key: ${ATBC_USERNAME_NAME_KEY}
                      name: ${QUEUE_CONSUMERS_SECRET_NAME}
                - name: ATBC_PASSWORD
                  valueFrom:
                    secretKeyRef:
                      key: ${ATBC_PASSWORD_NAME_KEY}
                      name: ${QUEUE_CONSUMERS_SECRET_NAME}
                - name: ATBC_APP
                  valueFrom:
                    secretKeyRef:
                      key: ${ATBC_APP_NAME_KEY}
                      name: ${QUEUE_CONSUMERS_SECRET_NAME}
                - name: APPLICATION_ARCHIVE_DAYS
                  value: ${APPLICATION_ARCHIVE_DAYS}
                - name: CAS_BASE_URL
                  valueFrom:
                    secretKeyRef:
                      key: ${CAS_BASE_URL_NAME_KEY}
                      name: ${QUEUE_CONSUMERS_SECRET_NAME}
                - name: CAS_CLIENT_ID
                  valueFrom:
                    secretKeyRef:
                      key: ${CAS_CLIENT_ID_NAME_KEY}
                      name: ${QUEUE_CONSUMERS_SECRET_NAME}
                - name: CAS_CLIENT_SECRET
                  valueFrom:
                    secretKeyRef:
                      key: ${CAS_CLIENT_SECRET_NAME_KEY}
                      name: ${QUEUE_CONSUMERS_SECRET_NAME}
              image: ${IMAGE_REGISTRY}/${BUILD_NAMESPACE}/${IMAGE_STREAM_TAG}
              imagePullPolicy: Always
              name: ${NAME}
              ports:
                - containerPort: "${{PORT}}"
              resources:
                limits:
                  cpu: ${CPU_LIMIT}
                  memory: ${MEMORY_LIMIT}
                requests:
                  cpu: ${CPU_REQUEST}
                  memory: ${MEMORY_REQUEST}
              readinessProbe:
                failureThreshold: 3
                successThreshold: 1
                httpGet:
                  path: /health/timeout/1500
                  port: "${{PORT}}"
                initialDelaySeconds: 10
                periodSeconds: 10
                timeoutSeconds: 3
              livenessProbe:
                failureThreshold: 3
                successThreshold: 1
                httpGet:
                  path: /health/timeout/3000
                  port: "${{PORT}}"
                  scheme: HTTP
                initialDelaySeconds: 30
                periodSeconds: 30
                timeoutSeconds: 5
  - apiVersion: v1
    kind: Service
    metadata:
      name: ${NAME}
    spec:
      ports:
        - name: http
          port: 80
          targetPort: ${{PORT}}
      selector:
        deploymentconfig: ${NAME}
      type: ClusterIP
  - apiVersion: route.openshift.io/v1
    kind: Route
    metadata:
      name: ${NAME}
      annotations:
        haproxy.router.openshift.io/balance: leastconn
        haproxy.router.openshift.io/disable_cookies: "true"
        haproxy.router.openshift.io/hsts_header: max-age=31536000;includeSubDomains;preload
        haproxy.router.openshift.io/timeout: 30s
    spec:
      host: ${HOST_NAME}
      path: ${PATH}
      tls:
        insecureEdgeTerminationPolicy: Redirect
        termination: edge
        certificate: |
          -----BEGIN CERTIFICATE-----
          ${TLS_CERTIFICATE}
          -----END CERTIFICATE-----
        key: |
          -----BEGIN PRIVATE KEY-----
          ${TLS_KEY}
          -----END PRIVATE KEY-----
        caCertificate: |
          -----BEGIN CERTIFICATE-----
          ${TLS_CA_CERTIFICATE}
          -----END CERTIFICATE-----
      to:
        kind: Service
        name: ${NAME}
  - apiVersion: autoscaling/v2
    kind: HorizontalPodAutoscaler
    metadata:
      name: ${NAME}-hpa
    spec:
      scaleTargetRef:
        apiVersion: apps.openshift.io/v1
        kind: DeploymentConfig
        name: ${NAME}
      minReplicas: "${{REPLICAS}}"
      maxReplicas: 10
      metrics:
        - type: Resource
          resource:
            name: cpu
            target:
              type: Utilization
              averageUtilization: 80
        - type: Resource
          resource:
            name: memory
            target:
              type: AverageValue
              averageValue: "350M"
  - apiVersion: policy/v1
    kind: PodDisruptionBudget
    metadata:
      name: ${NAME}-pdb
    spec:
      selector:
        matchLabels:
          deploymentconfig: ${NAME}
      maxUnavailable: 1
parameters:
  - name: NAME
    required: true
  - name: PROJECT
    value: sims
  - name: SERVICE_NAME
    value: queue-consumers
  - name: CPU_LIMIT
    value: "0.2"
  - name: MEMORY_LIMIT
    value: "768M"
  - name: CPU_REQUEST
    value: "0.1"
  - name: MEMORY_REQUEST
    value: "512M"
  - name: REPLICAS
    value: "2"
  - name: DB_SERVICE
    value: patroni-master
  - name: DB_SECRET_NAME
    value: patroni-creds
  - name: DB_USERNAME_KEY
    value: database-user
  - name: DB_PASSWORD_KEY
    value: database-password
  - name: SIMS_DB_NAME
    value: sims-db-name
  - name: IMAGE_STREAM_TAG
    required: true
  - name: BUILD_NAMESPACE
    required: true
  - name: IMAGE_REGISTRY
    value: image-registry.openshift-image-registry.svc:5000
  - name: NODE_ENV
    value: "production"
  - name: BUILD_TAG
    value: "0"
  - name: QUEUE_CONSUMERS_SECRET_NAME
    required: true
  - name: ZEEBE_ADDRESS_KEY
    value: zeebe-address
    required: true
  - name: ZEEBE_CLIENT_ID_KEY
    value: zeebe-client-id
    required: true
  - name: ZEEBE_CLIENT_SECRET_KEY
    value: zeebe-client-secret
    required: true
  - name: CAMUNDA_OAUTH_URL_KEY
    value: camunda-oauth-url
    required: true
  - name: INSTITUTION_REQUEST_FOLDER_NAME_KEY
    value: institution-request-folder
  - name: INSTITUTION_RESPONSE_FOLDER_NAME_KEY
    value: institution-response-folder
  - name: BYPASS_CRA_INCOME_VERIFICATION
    value: "false"
  - name: REDIS_SERVICE
    value: redis
  - name: CLAMAV_SERVICE
    value: clamav
  - name: CLAMAV_PORT
    required: true
  - name: REDIS_SECRET_NAME
    value: redis-creds
  - name: REDIS_PASSWORD_KEY
    value: password
  - name: DASHBOARD_PASSWORD_KEY
    value: queue-dashboard-password
  - name: DASHBOARD_USER_KEY
    value: queue-dashboard-user
  - name: PATH
    value: "/admin/queues/"
  - name: PORT
    required: true
  - name: HOST_NAME
    required: true
  - name: QUEUE_PREFIX
    required: true
  - name: IS_FULLTIME_ALLOWED
    required: true
  - name: ZONE_B_SFTP_SECRET_NAME
    value: zone-b-sftp
  - name: ZONE_B_SFTP_SERVER_NAME_KEY
    value: server
  - name: ZONE_B_SFTP_SERVER_PORT_NAME_KEY
    value: server-port
  - name: ZONE_B_SFTP_USER_NAME_NAME_KEY
    value: user-name
  - name: ZONE_B_SFTP_PRIVATE_KEY_PASSPHRASE_NAME_KEY
    value: private-key-passphrase
  - name: ZONE_B_SFTP_PRIVATE_KEY_NAME_KEY
    value: private-key
  - name: GC_NOTIFY_URL_NAME_KEY
    value: gc-notify-url
  - name: GC_NOTIFY_API_KEY_NAME_KEY
    value: gc-notify-api-key
  - name: SFAS_RECEIVE_FOLDER_NAME_KEY
    value: sfas-receive-folder
  - name: ATBC_LOGIN_ENDPOINT
    required: true
  - name: ATBC_ENDPOINT
    require: true
  - name: ATBC_USERNAME_NAME_KEY
    value: atbc-username
  - name: ATBC_PASSWORD_NAME_KEY
    value: atbc-password
  - name: ATBC_APP_NAME_KEY
    value: atbc-app
  - name: CRA_REQUEST_FOLDER_NAME_KEY
    value: cra-request-folder
  - name: CRA_RESPONSE_FOLDER_NAME_KEY
    value: cra-response-folder
  - name: CRA_PROGRAM_AREA_CODE_NAME_KEY
    value: cra-program-area-code
  - name: CRA_ENVIRONMENT_CODE_NAME_KEY
    value: cra-environment-code
  - name: ESDC_REQUEST_FOLDER_NAME_KEY
    value: esdc-request-folder
  - name: ESDC_RESPONSE_FOLDER_NAME_KEY
    value: esdc-response-folder
  - name: ESDC_ENVIRONMENT_CODE_NAME_KEY
    value: esdc-environment-code
  - name: APPLICATION_ARCHIVE_DAYS
    require: true
  - name: CAS_BASE_URL_NAME_KEY
    value: cas-base-url
  - name: CAS_CLIENT_ID_NAME_KEY
    value: cas-client-id
  - name: CAS_CLIENT_SECRET_NAME_KEY
    value: cas-client-secret
  - name: TLS_CERTIFICATE
    required: true
  - name: TLS_KEY
    required: true
  - name: TLS_CA_CERTIFICATE
    required: true
