apiVersion: template.openshift.io/v1
kind: Template
metadata:
  name: ${NAME}
labels:
  project: ${PROJECT}
  service: ${SERVICE_NAME}
objects:
  - apiVersion: apps/v1
    kind: Deployment
    metadata:
      labels:
        app: ${NAME}
      name: ${NAME}
    spec:
      replicas: "${{REPLICAS}}"
      revisionHistoryLimit: 10
      selector:
        matchLabels:
          app: ${NAME}
      strategy:
        type: RollingUpdate
      template:
        metadata:
          labels:
            app: ${NAME}
        spec:
          containers:
            - env:
                - name: VERSION
                  value: ${BUILD_TAG}
                - name: NODE_ENV
                  value: ${NODE_ENV}
                - name: POSTGRES_HOST
                  valueFrom:
                    secretKeyRef:
                      key: ${DB_SERVICE_KEY}
                      name: ${DB_SECRET_NAME}
                - name: REDIS_HOST
                  value: "${REDIS_SERVICE}"
                - name: WORKERS_PORT
                  value: "${PORT}"
                - name: REDIS_PASSWORD
                  valueFrom:
                    secretKeyRef:
                      key: ${REDIS_PASSWORD_KEY}
                      name: ${REDIS_SECRET_NAME}
                - name: POSTGRES_USER
                  valueFrom:
                    secretKeyRef:
                      key: ${DB_USERNAME_KEY}
                      name: ${DB_SECRET_NAME}
                - name: POSTGRES_PASSWORD
                  valueFrom:
                    secretKeyRef:
                      key: ${DB_PASSWORD_KEY}
                      name: ${DB_SECRET_NAME}
                - name: POSTGRES_DB
                  valueFrom:
                    secretKeyRef:
                      key: ${SIMS_DB_NAME}
                      name: ${WORKERS_SECRET_NAME}
                - name: ZEEBE_ADDRESS
                  valueFrom:
                    secretKeyRef:
                      key: ${ZEEBE_ADDRESS_KEY}
                      name: ${WORKERS_SECRET_NAME}
                - name: ZEEBE_CLIENT_ID
                  valueFrom:
                    secretKeyRef:
                      key: ${ZEEBE_CLIENT_ID_KEY}
                      name: ${WORKERS_SECRET_NAME}
                - name: ZEEBE_CLIENT_SECRET
                  valueFrom:
                    secretKeyRef:
                      key: ${ZEEBE_CLIENT_SECRET_KEY}
                      name: ${WORKERS_SECRET_NAME}
                - name: CAMUNDA_OAUTH_URL
                  valueFrom:
                    secretKeyRef:
                      key: ${CAMUNDA_OAUTH_URL_KEY}
                      name: ${WORKERS_SECRET_NAME}
                - name: ZEEBE_GRPC_WORKER_LONGPOLL_SECONDS
                  valueFrom:
                    secretKeyRef:
                      key: ${ZEEBE_GRPC_WORKER_LONGPOLL_SECONDS_KEY}
                      name: ${WORKERS_SECRET_NAME}
                - name: BYPASS_CRA_INCOME_VERIFICATION
                  value: ${BYPASS_CRA_INCOME_VERIFICATION}
                - name: DISABLE_ORM_CACHE
                  value: ${DISABLE_ORM_CACHE}
              image: ${IMAGE_REGISTRY}/${BUILD_NAMESPACE}/${IMAGE_STREAM_TAG}
              imagePullPolicy: Always
              name: ${NAME}
              resources:
                limits:
                  cpu: ${CPU_LIMIT}
                  memory: ${MEMORY_LIMIT}
                requests:
                  cpu: ${CPU_REQUEST}
                  memory: ${MEMORY_REQUEST}
              livenessProbe:
                failureThreshold: 3
                successThreshold: 1
                httpGet:
                  path: /health/
                  port: "${{PORT}}"
                  scheme: HTTP
                initialDelaySeconds: 30
                periodSeconds: 30
                timeoutSeconds: 1
  - apiVersion: autoscaling/v2
    kind: HorizontalPodAutoscaler
    metadata:
      name: ${NAME}-hpa
    spec:
      scaleTargetRef:
        apiVersion: apps/v1
        kind: Deployment
        name: ${NAME}
      minReplicas: "${{REPLICAS}}"
      maxReplicas: 10
      metrics:
        - type: Resource
          resource:
            name: cpu
            target:
              type: Utilization
              averageUtilization: 80
        - type: Resource
          resource:
            name: memory
            target:
              type: AverageValue
              averageValue: "350M"
  - apiVersion: policy/v1
    kind: PodDisruptionBudget
    metadata:
      name: ${NAME}-pdb
    spec:
      selector:
        matchLabels:
          app: ${NAME}
      maxUnavailable: 1
parameters:
  - name: NAME
    required: true
  - name: PROJECT
    value: sims
  - name: SERVICE_NAME
    value: workers
  - name: CPU_LIMIT
    value: "0.2"
  - name: MEMORY_LIMIT
    value: "512M"
  - name: CPU_REQUEST
    value: "0.1"
  - name: MEMORY_REQUEST
    value: "384M"
  - name: REPLICAS
    value: "2"
  - name: DB_SERVICE_KEY
    value: pgbouncer-host
  - name: DB_SECRET_NAME
    value: simsdb-pguser-app-database-user
  - name: DB_USERNAME_KEY
    value: user
  - name: DB_PASSWORD_KEY
    value: password
  - name: SIMS_DB_NAME
    value: sims-db-name
  - name: IMAGE_STREAM_TAG
    required: true
  - name: BUILD_NAMESPACE
    required: true
  - name: IMAGE_REGISTRY
    value: image-registry.openshift-image-registry.svc:5000
  - name: NODE_ENV
    value: "production"
  - name: BUILD_TAG
    value: "0"
  - name: WORKERS_SECRET_NAME
    required: true
  - name: ZEEBE_ADDRESS_KEY
    value: zeebe-address
  - name: ZEEBE_CLIENT_ID_KEY
    value: zeebe-client-id
  - name: ZEEBE_CLIENT_SECRET_KEY
    value: zeebe-client-secret
  - name: CAMUNDA_OAUTH_URL_KEY
    value: camunda-oauth-url
  - name: ZEEBE_GRPC_WORKER_LONGPOLL_SECONDS_KEY
    value: zeebe-grpc-worker-longpoll-seconds
  - name: BYPASS_CRA_INCOME_VERIFICATION
    value: "false"
  - name: REDIS_SERVICE
    value: redis
  - name: REDIS_SECRET_NAME
    value: redis-creds
  - name: REDIS_PASSWORD_KEY
    value: password
  - name: PORT
    required: true
  - name: DISABLE_ORM_CACHE
    required: true
