version: "3"

# Services
services:
  # API
  api:
    image: api-${PROJECT_NAME}:${BUILD_REF}-${BUILD_ID}
    container_name: api-${PROJECT_NAME}-${BUILD_REF}-${BUILD_ID}
    build:
      context: ./packages/api
      dockerfile: Dockerfile.dev
    environment:
      - NODE_ENV=docker
      - PORT=${API_PORT}
      - POSTGRES_HOST=postgres
      - POSTGRES_PORT=${POSTGRES_PORT}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - KEYCLOAK_AUTH_URL=${KEYCLOAK_AUTH_URL}
      - KEYCLOAK_REALM=${KEYCLOAK_REALM}
      - KEYCLOAK_CLIENT_STUDENT=${KEYCLOAK_CLIENT_STUDENT}
      - KEYCLOAK_CLIENT_INSTITUTION=${KEYCLOAK_CLIENT_INSTITUTION}
      - DB_SCHEMA=${DB_SCHEMA}
      - ENVIRONMENT=local
      - E2E_TEST_STUDENT_USERNAME=${E2E_TEST_STUDENT_USERNAME}
      - E2E_TEST_STUDENT_PASSWORD=${E2E_TEST_STUDENT_PASSWORD}
      - E2E_TEST_BCeID_USERNAME=${E2E_TEST_BCeID_USERNAME}
      - E2E_TEST_BCeID_PASSWORD=${E2E_TEST_BCeID_PASSWORD}
      - BCeID_WEB_SERVICE_WSDL=${BCeID_WEB_SERVICE_WSDL}
      - BCeID_WEB_SERVICE_ONLINE_SERVICE_ID=${BCeID_WEB_SERVICE_ONLINE_SERVICE_ID}
      - BCeID_WEB_SERVICE_REQUESTER_USER_GUID=${BCeID_WEB_SERVICE_REQUESTER_USER_GUID}
      - BCeID_WEB_SERVICE_AUTH_USER_NAME=${BCeID_WEB_SERVICE_AUTH_USER_NAME}
      - BCeID_WEB_SERVICE_AUTH_USER_PASSWORD=${BCeID_WEB_SERVICE_AUTH_USER_PASSWORD}
      - ARCHIVE_DB=${ARCHIVE_DB}
      - RULE_ENGINE_URL=${RULE_ENGINE_URL}
      - WORKFLOW_SA_USER_NAME=${WORKFLOW_SA_USER_NAME}
      - WORKFLOW_SA_PASSWORD=${WORKFLOW_SA_PASSWORD}
      - FORMS_URL=${FORMS_URL}
      - FORMS_SA_USER_NAME=${FORMS_SA_USER_NAME}
      - FORMS_SA_PASSWORD=${FORMS_SA_PASSWORD}
      - FORMS_FLOW_BASE_URL=${FORMS_FLOW_BASE_URL}
      - DUMMY_BCeID_ACCOUNT_RESPONSE=${DUMMY_BCeID_ACCOUNT_RESPONSE}
      - SITE_MINDER_LOGOUT_URL=${SITE_MINDER_LOGOUT_URL}
    ports:
      - ${API_PORT}:${API_PORT}
    volumes:
      - ./packages/api/src:/app/src
    networks:
      - local-network
    restart: always
    depends_on:
      - postgres
  # - API
  # App
  web:
    image: web-${PROJECT_NAME}:${BUILD_REF}-${BUILD_ID}
    container_name: web-${PROJECT_NAME}-${BUILD_REF}-${BUILD_ID}
    build:
      context: ./packages/web
      dockerfile: Dockerfile.dev
    environment:
      - PORT=${APP_PORT}
    ports:
      - ${APP_PORT}:${APP_PORT}
    volumes:
      - ./packages/web/src:/app/src
    networks:
      - local-network
    restart: always
    depends_on:
      - api
  # - App
  # Postgres
  postgres:
    image: postgres-${PROJECT_NAME}:${BUILD_REF}-${BUILD_ID}
    container_name: db-${PROJECT_NAME}-${BUILD_REF}-${BUILD_ID}
    build:
      context: ./.docker/postgres
    environment:
      - POSTGRES_MULTIPLE_DATABASES="${POSTGRES_DB}","${ARCHIVE_DB}"
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - PORT=${POSTGRES_PORT}
    ports:
      - ${POSTGRES_PORT}:${POSTGRES_PORT}
    volumes:
      - postgres:/var/lib/postgresql/data
    networks:
      - local-network
  # - Postgres
# - services
# Networks
networks:
  local-network:
    driver: bridge
# - Networks
# Volumes
volumes:
  postgres:
    name: postgres-${PROJECT_NAME}-${BUILD_REF}-${BUILD_ID}
# - Volumes
