services:
  mongo:
    image: mongo:4.1
    restart: always
    volumes:
      - mdb-data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME:
      MONGO_INITDB_ROOT_PASSWORD:
    networks:
      - local-network

  formio:
    build:
      context: ./packages/forms
      dockerfile: Dockerfile.dev
      args:
        - FORMIO_SOURCE_REPO_URL=${FORMIO_SOURCE_REPO_URL}
        - FORMIO_SOURCE_REPO_TAG=${FORMIO_SOURCE_REPO_TAG}
    # The app will restart until Mongo is listening
    restart: always
    links:
      - mongo
    ports:
      - "3001:3001"
    # The application wants to download things to the local directory
    volumes:
      - ./:/app:rw
    networks:
      - local-network
    environment:
      DEBUG: formio:*
      NODE_CONFIG: '{"mongo": "mongodb://mongo:27017/formio"}'
      ROOT_EMAIL: admin@example.com
      ROOT_PASSWORD: CHANGEME
    stdin_open: true # -i
    tty: true # -t

# Networks
networks:
  local-network:
    driver: bridge

volumes:
  mdb-data:
