# Project Specific Env
PROJECT_NAME=sims
ENVIRONMENT=local
BUILD_REF=dev
BUILD_ID=0
API_PORT=3000
APP_PORT=8080

# Database
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=5432
DB_SCHEMA=sims

# KeyCloak
KEYCLOAK_AUTH_URL=
KEYCLOAK_REALM=
KEYCLOAK_CLIENT_STUDENT=
KEYCLOAK_CLIENT_INSTITUTION=
KEYCLOAK_CLIENT_AEST=
KEYCLOAK_CLIENT_SUPPORTING_USERS=

# E2E Test
E2E_TEST_STUDENT_USERNAME=student_e2e_test
E2E_TEST_STUDENT_PASSWORD=ADD_THE_PASSWORD_HERE_TO_RUN_LOCALLY

E2E_TEST_BCeID_USERNAME=SIMS_E2ETests
E2E_TEST_BCeID_PASSWORD=ADD_THE_PASSWORD_HERE_TO_RUN_LOCALLY

# BCeID Web Service - These variables are used only to run the application locally.
BCeID_WEB_SERVICE_WSDL=https://gws1.test.bceid.ca/webservices/Client/V10/BCeIDService.asmx?wsdl
BCeID_WEB_SERVICE_ONLINE_SERVICE_ID=
BCeID_WEB_SERVICE_REQUESTER_USER_GUID=
BCeID_WEB_SERVICE_AUTH_USER_NAME=
BCeID_WEB_SERVICE_AUTH_USER_PASSWORD=

# Devops/openshift Make api-init
API_INIT_BCeID_WEB_SERVICE_ONLINE_SERVICE_ID=
API_INIT_BCeID_WEB_SERVICE_REQUESTER_USER_GUID=
API_INIT_BCeID_WEB_SERVICE_AUTH_USER_NAME=
API_INIT_REQ_BCeID_WEB_SERVICE_AUTH_USER_PASSWORD=
API_INIT_WORKFLOW_SA_USER_NAME=
API_INIT_WORKFLOW_SA_PASSWORD=
API_INIT_FORMS_SA_USER_NAME=
API_INIT_FORMS_SA_PASSWORD=
API_INIT_SIMS_API_CLIENT_ID=
API_INIT_SIMS_API_CLIENT_SECRET=
API_INIT_CRA_REQUEST_FOLDER=
API_INIT_CRA_RESPONSE_FOLDER=
API_INIT_CRA_PROGRAM_AREA_CODE=
API_INIT_CRA_ENVIRONMENT_CODE=
API_INIT_ATBC_USERNAME=
API_INIT_ATBC_PASSWORD=
API_INIT_ATBC_APP=
API_INIT_ESDC_REQUEST_FOLDER=
API_INIT_ESDC_RESPONSE_FOLDER=
API_INIT_ESDC_ENVIRONMENT_CODE=
API_INIT_SFAS_RECEIVE_FOLDER=

# Devops/openshift Make init-zone-b-sftp-secret
INIT_ZONE_B_SFTP_SERVER=
INIT_ZONE_B_SFTP_SERVER_PORT=
INIT_ZONE_B_SFTP_USER_NAME=
INIT_ZONE_B_SFTP_PRIVATE_KEY_PASSPHRASE=

# Workflow related 
# Camunda
RULE_ENGINE_URL=
# Service Account
WORKFLOW_SA_USER_NAME=
WORKFLOW_SA_PASSWORD=
FORMS_FLOW_BPM_CLIENT_SECRET=

# Forms Related
FORMS_URL=
# Service Account
FORMS_SA_USER_NAME=
FORMS_SA_PASSWORD=

#FormsFlow.ai
FORMS_FLOW_API_URL=

#SIMS Api
SIMS_API_CLIENT_ID=
SIMS_API_CLIENT_SECRET=

# Dummy BCeID account response
DUMMY_BCeID_ACCOUNT_RESPONSE=no

#CRA Integration
CRA_REQUEST_FOLDER=
CRA_RESPONSE_FOLDER=
CRA_PROGRAM_AREA_CODE=
CRA_ENVIRONMENT_CODE=
ZONE_B_SFTP_SERVER=
ZONE_B_SFTP_SERVER_PORT=
ZONE_B_SFTP_USER_NAME=
ZONE_B_SFTP_PRIVATE_KEY_PASSPHRASE=
ZONE_B_SFTP_PRIVATE_KEY=
BYPASS_CRA_INCOME_VERIFICATION=
#ESDC Integration
ESDC_REQUEST_FOLDER=
ESDC_RESPONSE_FOLDER=
ESDC_ENVIRONMENT_CODE=

#ATBC Integration
ATBC_LOGIN_ENDPOINT=
ATBC_USERNAME=
ATBC_PASSWORD=
ATBC_APP=
# add till  /api
ATBC_ENDPOINT=

# File Upload Global Config
FILE_UPLOAD_MAX_FILE_SIZE=4194304
FILE_UPLOAD_ALLOWED_EXTENSIONS=.pdf,.doc,.docx,.jpg,.png

#SFAS Integration
SFAS_RECEIVE_FOLDER=
