# Set time zone for the same expected from Openshift.
TZ=UTC

VERSION=v0.0.1

# Project Specific Env
PROJECT_NAME=sims
ENVIRONMENT=local
BUILD_REF=dev
BUILD_ID=0
API_PORT=3000
APP_PORT=8080
SWAGGER_ENABLED=true
APPLICATION_ARCHIVE_DAYS=43

# Database
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=5432
DB_SCHEMA=sims
DISABLE_ORM_CACHE=

# KeyCloak
KEYCLOAK_AUTH_URL=
KEYCLOAK_REALM=
KEYCLOAK_CLIENT_STUDENT=
KEYCLOAK_CLIENT_INSTITUTION=
KEYCLOAK_CLIENT_AEST=
KEYCLOAK_CLIENT_SUPPORTING_USERS=

# E2E Test
E2E_TEST_STUDENT_USERNAME=student_e2e_test
E2E_TEST_STUDENT_PASSWORD=ADD_THE_PASSWORD_HERE_TO_RUN_LOCALLY

E2E_TEST_BCeID_USERNAME=SIMS_E2ETests
E2E_TEST_BCeID_PASSWORD=ADD_THE_PASSWORD_HERE_TO_RUN_LOCALLY

E2E_TEST_AEST_OPERATIONS_USER=ministry-user-aest-operations@e2e-tests
E2E_TEST_AEST_OPERATIONS_ADMINISTRATORS_USER=ministry-user-aest-operations-administrators@e2e-tests
E2E_TEST_AEST_MOF_OPERATIONS_USER=ministry-user-mof-operations@e2e-tests
E2E_TEST_AEST_READ_ONLY_USER=ministry-user-read-only@e2e-tests

# BCeID Web Service - These variables are used only to run the application locally.
BCeID_WEB_SERVICE_WSDL=https://gws1.test.bceid.ca/webservices/Client/V10/BCeIDService.asmx?wsdl
BCeID_WEB_SERVICE_ONLINE_SERVICE_ID=
BCeID_WEB_SERVICE_REQUESTER_USER_GUID=
BCeID_WEB_SERVICE_AUTH_USER_NAME=
BCeID_WEB_SERVICE_AUTH_USER_PASSWORD=

# GC Notify Web Service - These variables are used to send Email notifications.
GC_NOTIFY_URL=https://api.notification.canada.ca/v2/notifications/email
GC_NOTIFY_API_KEY=

# Devops/openshift Make init-zone-b-sftp-secret
INIT_ZONE_B_SFTP_SERVER=
INIT_ZONE_B_SFTP_SERVER_PORT=
INIT_ZONE_B_SFTP_USER_NAME=
INIT_ZONE_B_SFTP_PRIVATE_KEY_PASSPHRASE=

# Forms Related
FORMS_URL=
# Service Account
FORMS_SA_USER_NAME=
FORMS_SA_PASSWORD=

# Dummy BCeID account response
DUMMY_BCeID_ACCOUNT_RESPONSE=no

#CRA Integration
CRA_REQUEST_FOLDER=
CRA_RESPONSE_FOLDER=
CRA_PROGRAM_AREA_CODE=
CRA_ENVIRONMENT_CODE=
ZONE_B_SFTP_SERVER=
ZONE_B_SFTP_SERVER_PORT=
ZONE_B_SFTP_USER_NAME=
ZONE_B_SFTP_PRIVATE_KEY_PASSPHRASE=
ZONE_B_SFTP_PRIVATE_KEY=
# When defined as true, allows the simulation of a complete cycle of the
# CRA send/response process that allows the workflow to proceed without
# the need for the actual CRA verification happens. By default, it should be
# disabled, and should be enabled only for DEV purposes on local developer
# machine or on an environment where the CRA process is not enabled.
BYPASS_CRA_INCOME_VERIFICATION=false
#ESDC Integration
ESDC_REQUEST_FOLDER=
ESDC_RESPONSE_FOLDER=
ESDC_ENVIRONMENT_CODE=

#ATBC Integration
ATBC_LOGIN_ENDPOINT=
ATBC_USERNAME=
ATBC_PASSWORD=
ATBC_APP=
# add till  /api
ATBC_ENDPOINT=

# File Upload Global Config
FILE_UPLOAD_MAX_FILE_SIZE=4194304
FILE_UPLOAD_ALLOWED_EXTENSIONS=.pdf,.doc,.docx,.jpg,.png

#SFAS Integration
SFAS_RECEIVE_FOLDER=

#Institution Integration
INSTITUTION_REQUEST_FOLDER=
INSTITUTION_RESPONSE_FOLDER=

#Bypass study period overlap and pending PIR validation
BYPASS_APPLICATION_SUBMIT_VALIDATIONS=

#Fulltime programs and offering are allowed.
IS_FULLTIME_ALLOWED=true

#cypress credentials
FILE_NAME= cypress.env.json
FILE_PATH= SIMS\testing\functional\tests\cypress.env.json

# Zeebe (only the 3 below are neeed for local development)
ZEEBE_ADDRESS=localhost:26500
CAMUNDA_OAUTH_DISABLED=true
CAMUNDA_SECURE_CONNECTION=false
ZEEBE_CLIENT_ID=
ZEEBE_CLIENT_SECRET=
CAMUNDA_OAUTH_URL=
ZEEBE_GRPC_WORKER_LONGPOLL_SECONDS=45
# Max retries ensures that if the grpc connection cannot be established within maximum
# number of retry then the process with terminate.
ZEEBE_CLIENT_MAX_RETRIES=20

#Redis and queue properties
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_STANDALONE_MODE=true
QUEUE_CONSUMERS_PORT=
QUEUE_DASHBOARD_PASSWORD=
QUEUE_DASHBOARD_USER=
QUEUE_PREFIX={sims-local}

#ClamAV Properties
CLAMAV_HOST=127.0.0.1
CLAMAV_PORT=3310

#Workers properties
WORKERS_PORT=

#Load test gateway
LOAD_TEST_API_PORT=

# CAS integration configuration
CAS_BASE_URL=
CAS_CLIENT_ID=
CAS_CLIENT_SECRET=

# S3 Storage
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=
S3_ENDPOINT=
S3_DEFAULT_BUCKET=sims-local
S3_REGION=

# Logged Out due to inactivity, wait times in seconds.
MAXIMUM_IDLE_TIME_FOR_WARNING_STUDENT = 
MAXIMUM_IDLE_TIME_FOR_WARNING_INSTITUTION = 
MAXIMUM_IDLE_TIME_FOR_WARNING_SUPPORTING_USER = 
MAXIMUM_IDLE_TIME_FOR_WARNING_AEST = 