# Project Specific Env
PROJECT_NAME=sims
ENVIRONMENT=local
BUILD_REF=dev
BUILD_ID=0
API_PORT=3000
APP_PORT=8080

# Database
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=5432
ARCHIVE_DB=sfas_db
DB_SCHEMA=sims

# KeyCloak
KEYCLOAK_AUTH_URL=
KEYCLOAK_REALM=
KEYCLOAK_CLIENT_STUDENT=
KEYCLOAK_CLIENT_INSTITUTION=

# E2E Test
E2E_TEST_STUDENT_USERNAME=student_e2e_test
E2E_TEST_STUDENT_PASSWORD=ADD_THE_PASSWORD_HERE_TO_RUN_LOCALLY

E2E_TEST_BCeID_USERNAME=SIMS_E2ETests
E2E_TEST_BCeID_PASSWORD=ADD_THE_PASSWORD_HERE_TO_RUN_LOCALLY

# BCeID Web Service on OC we do not the BCeID_ properties set
BCeID_WEB_SERVICE_WSDL=https://gws1.test.bceid.ca/webservices/Client/V10/BCeIDService.asmx?wsdl
BCeID_WEB_SERVICE_ONLINE_SERVICE_ID=
BCeID_WEB_SERVICE_REQUESTER_USER_GUID=
BCeID_WEB_SERVICE_AUTH_USER_NAME=
BCeID_WEB_SERVICE_AUTH_USER_PASSWORD=

# Devops/openshift Make api-init - on  OC we only need API_ ones to run our application and not the BCeID_ ones
API_INIT_BCeID_WEB_SERVICE_ONLINE_SERVICE_ID=
API_INIT_BCeID_WEB_SERVICE_REQUESTER_USER_GUID=
API_INIT_BCeID_WEB_SERVICE_AUTH_USER_NAME=
API_INIT_REQ_BCeID_WEB_SERVICE_AUTH_USER_PASSWORD=
