# Deploys the MongoDB High Availability (HA) setup in OpenShift for Formio using Helm.
# If the helm is present, it updates the existing deployment; otherwise, it installs a new one.
name: Env Setup - Deploy Mongo HA in Openshift for Formio
run-name: Env Setup - Deploy Mongo HA in Openshift from ${{ github.ref_name }} to ${{ inputs.environment }}
permissions:
  contents: read

concurrency: mongo-ha-setup

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Environment"
        required: true
        type: environment

jobs:
  deployMongo:
    name: Deploy Mongo in Openshift
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    steps:
      - name: Checkout Target Branch
        uses: actions/checkout@v6
        with:
          ref: ${{ github.ref_name }}
      - name: Install CLI tools from OpenShift Mirror
        uses: redhat-actions/openshift-tools-installer@v1
        with:
          oc: "4"
      - name: Log in to OpenShift
        run: |
          oc login --token=${{ secrets.SA_TOKEN }} --server=${{ vars.OPENSHIFT_CLUSTER_URL }}
      - name: Deploy Mongo
        working-directory: "./devops/helm/mongodb/"
        run: |
          make upgrade NAMESPACE=${{ secrets.OPENSHIFT_ENV_NAMESPACE }} FORMS_DB_USER=${{ secrets.FORMS_DB_USER }} FORMS_DB_PASSWORD=${{ secrets.FORMS_DB_PASSWORD }}
