name: Release - Deploy Form.io resources
run-name: Release - Deploy Form.io resources from ${{ inputs.gitRef }} to ${{ inputs.environment }}

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Environment"
        required: true
        type: environment
      gitRef:
        description: "Github reference"
        required: true
        type: string
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
      gitRef:
        required: true
        type: string
    secrets:
      FORMS_URL:
        required: true
      FORMS_SA_USER_NAME:
        required: true
      FORMS_SA_PASSWORD:
        required: true

jobs:
  deploy:
    name: Deploy Form.io definitions
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    env:
      FORMS_URL: ${{ secrets.FORMS_URL }}
      FORMS_SA_USER_NAME: ${{ secrets.FORMS_SA_USER_NAME }}
      FORMS_SA_PASSWORD: ${{ secrets.FORMS_SA_PASSWORD }}
    steps:
      - name: Checkout Target Branch
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.gitRef }}
      - name: Setup Nodejs
        uses: actions/setup-node@v4
        with:
          node-version: "16.x"
      - name: Downloading packages
        working-directory: "./sources/packages/forms"
        run: npm ci
      - name: Executing deployment
        working-directory: "./sources/packages/forms"
        run: npm run deploy
