name: Release - Deploy Camunda Resources
run-name: Release - Deploy Camunda resources from ${{ inputs.gitRef }} to ${{ inputs.environment }}

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Environment"
        required: true
        type: environment
      gitRef:
        description: "Github reference"
        required: true
        type: string
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
      gitRef:
        required: true
        type: string
    secrets:
      ZEEBE_ADDRESS:
        required: true
      ZEEBE_CLIENT_ID:
        required: true
      ZEEBE_CLIENT_SECRET:
        required: true
      CAMUNDA_OAUTH_URL:
        required: true

jobs:
  deploy:
    name: Deploy Camunda resources
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    env:
      ZEEBE_ADDRESS: ${{ secrets.ZEEBE_ADDRESS }}
      ZEEBE_CLIENT_ID: ${{ secrets.ZEEBE_CLIENT_ID }}
      ZEEBE_CLIENT_SECRET: ${{ secrets.ZEEBE_CLIENT_SECRET }}
      CAMUNDA_OAUTH_URL: ${{ secrets.CAMUNDA_OAUTH_URL }}
    steps:
      - name: Print env variables
        run: |
          echo ZEEBE_ADDRESS: $ZEEBE_ADDRESS
          echo RESOURCES_FOLDER: $RESOURCES_FOLDER
      - name: Checkout Target Branch
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.gitRef }}
      - name: Setup Nodejs
        uses: actions/setup-node@v4
        with:
          node-version: "18.x"
      - name: Downloading packages
        working-directory: "./sources/packages/backend"
        run: npm ci
      - name: Executing deployment
        working-directory: "./sources/packages/backend"
        run: npm run deploy:camunda:definitions
